<a href="https://colab.research.google.com/github/thaisgulias/DataAnalytics_student/blob/main/Aprendendo_Comandos_B%C3%A1sicos_Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PRIMEIRA PARTE
##APRENDER OS PRINCIPAIS COMANDOS DO PYSPARK

In [ ]:
#INSTALAÇÃO DO PYSPARK NO COLAB
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 kB 24.2 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824028 sha256=87b4e6eabbd45192e09e473ff9b36db8d912e84ff3adc565ec1f513660713efe
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [ ]:
#IMPORTAR UMA SESSÃO DO SPARK
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
import pandas as pd
import numpy as np

In [ ]:
#CONFIGURAR MINHA VARIÁVEL DE AMBIENTE (spark) - SESSÃO
spark = (SparkSession.builder.master('local')
                             .appName('comandos_basicos')
                             .config('spark.ui.port', '4050')
                             .getOrCreate())

In [ ]:
spark

##Iniciando a Parte Prática de Pyspark

In [ ]:
#DATAFRAMES
colunas = ['id', 'nome', 'cpf', 'telefone_celular']

dados = [
    (1, 'Oswaldo da Silva', '999.999.999-99', '(99)9.9999-9999'),
    (2, 'Maria dos Santos', '888.888.888-88', '(88)9.8888-8888'),
    (3, 'Priscila Medeiros', '777.777.777-77', '(77)9.7777-7777'),
    (4, 'Roberto Diniz', '666.666.666-66', '(66)9.6666-6666')
]

df = spark.createDataFrame(data = dados, schema = colunas)

In [ ]:
#VISUALIZAR AS COLUNAS E SEUS TIPOS DE DADOS
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- nome: string (nullable = true)
 |-- cpf: string (nullable = true)
 |-- telefone_celular: string (nullable = true)

In [ ]:
#VISUALIZAR ALGUNS DADOS PARA OLHAR COMO ESTÁ O DATAFRAME
df.show()

+---+-----------------+--------------+----------------+
| id|             nome|           cpf|telefone_celular|
+---+-----------------+--------------+----------------+
|  1| Oswaldo da Silva|999.999.999-99| (99)9.9999-9999|
|  2| Maria dos Santos|888.888.888-88| (88)9.8888-8888|
|  3|Priscila Medeiros|777.777.777-77| (77)9.7777-7777|
|  4|    Roberto Diniz|666.666.666-66| (66)9.6666-6666|
+---+-----------------+--------------+----------------+

In [ ]:
#CONVERTENDO UM DATAFRAME DO SPARK EM PANDAS
df_pandas = df.toPandas()

In [ ]:
#RETORNA AS COLUNAS DO DATAFRAME
df.columns

['id', 'nome', 'cpf', 'telefone_celular']

In [ ]:
#QUANTIDADE DE REGISTROS DO DATAFRAME
df.count()

4

In [ ]:
#SHAPE DO PYSPARK
print(f' ({df.count()}, {len(df.columns)})')

 (4, 4)

###OS DATAFRAMES DO PYSPARK SÃO IMUTÁVEIS

In [ ]:
#VISUALIZAR COLUNAS ESPECÍFICAS DO DATAFRAME - 1ª FORMA
df.select('nome', 'telefone_celular').show()

+-----------------+----------------+
|             nome|telefone_celular|
+-----------------+----------------+
| Oswaldo da Silva| (99)9.9999-9999|
| Maria dos Santos| (88)9.8888-8888|
|Priscila Medeiros| (77)9.7777-7777|
|    Roberto Diniz| (66)9.6666-6666|
+-----------------+----------------+

In [ ]:
#VISUALIZAR COLUNAS ESPECÍFICAS DO DATAFRAME - 2ª FORMA
df.select(F.col('id'), F.col('cpf')).show()

+---+--------------+
| id|           cpf|
+---+--------------+
|  1|999.999.999-99|
|  2|888.888.888-88|
|  3|777.777.777-77|
|  4|666.666.666-66|
+---+--------------+

In [ ]:
#VERIFICAR O TIPO DE DADOS DA VARIÁVEL df
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
#REALIZANDO UM BACKUP DO DATAFRAME
df_backup = df

In [ ]:
#CRIANDO UM NOVO DATAFRAME

colunas2 = 'id INT, nome STRING, cpf STRING, telefone_celular STRING, cidade STRING, empregado FLOAT'

dados2 = [
    (1, 'Oswaldo da Silva', '999.999.999-99', '(99)9.9999-9999', 'Sobral', 1.0),
    (2, 'Maria dos Santos', '888.888.888-88', '(88)9.8888-8888', 'São Paulo', 0.0),
    (3, 'Priscila Medeiros', '777.777.777-77', '(77)9.7777-7777', 'Rio de Janeiro', 1.0),
    (4, 'Roberto Diniz', '666.666.666-66', '(66)9.6666-6666', 'Florianópolis', 0.0),
    (5, 'Marília Cavalcante', '555.555.555-55', '(55)9.5555-5555', 'Florianópolis', 0.0),
    (6, 'Maria de Fátima Lopes', '444.444.444-44', '(44)9.4444-4444', 'São Paulo', 1.0),
    (7, 'Edvaldo Marques de Sousa', '333.333.333-33', '(33)9.3333-3333', 'Florianópolis', 1.0),
    (8, 'Pedro José da Costa', '222.222.222-22', '(22)9.2222-2222', 'Rio de Janeiro', 0.0),
    (9, 'Priscila Medeiros', '777.777.777-77', '(77)9.7777-7777', 'Rio de Janeiro', 1.0)
]

df2 = spark.createDataFrame(data = dados2, schema = colunas2)

In [ ]:
df2.printSchema()

root
 |-- id: integer (nullable = true)
 |-- nome: string (nullable = true)
 |-- cpf: string (nullable = true)
 |-- telefone_celular: string (nullable = true)
 |-- cidade: string (nullable = true)
 |-- empregado: float (nullable = true)

In [ ]:
df2.show()

+---+--------------------+--------------+----------------+--------------+---------+
| id|                nome|           cpf|telefone_celular|        cidade|empregado|
+---+--------------------+--------------+----------------+--------------+---------+
|  1|    Oswaldo da Silva|999.999.999-99| (99)9.9999-9999|        Sobral|      1.0|
|  2|    Maria dos Santos|888.888.888-88| (88)9.8888-8888|     São Paulo|      0.0|
|  3|   Priscila Medeiros|777.777.777-77| (77)9.7777-7777|Rio de Janeiro|      1.0|
|  4|       Roberto Diniz|666.666.666-66| (66)9.6666-6666| Florianópolis|      0.0|
|  5|  Marília Cavalcante|555.555.555-55| (55)9.5555-5555| Florianópolis|      0.0|
|  6|Maria de Fátima L...|444.444.444-44| (44)9.4444-4444|     São Paulo|      1.0|
|  7|Edvaldo Marques d...|333.333.333-33| (33)9.3333-3333| Florianópolis|      1.0|
|  8| Pedro José da Costa|222.222.222-22| (22)9.2222-2222|Rio de Janeiro|      0.0|
|  9|   Priscila Medeiros|777.777.777-77| (77)9.7777-7777|Rio de Janeiro|      1.0|
+---+--------------------+--------------+----------------+--------------+---------+

In [ ]:
#FILTROS SOBRE OS DADOS - 1ª FORMA (FILTER)
df2.filter(F.col('cidade') == 'Florianópolis').show()

+---+--------------------+--------------+----------------+-------------+---------+
| id|                nome|           cpf|telefone_celular|       cidade|empregado|
+---+--------------------+--------------+----------------+-------------+---------+
|  4|       Roberto Diniz|666.666.666-66| (66)9.6666-6666|Florianópolis|      0.0|
|  5|  Marília Cavalcante|555.555.555-55| (55)9.5555-5555|Florianópolis|      0.0|
|  7|Edvaldo Marques d...|333.333.333-33| (33)9.3333-3333|Florianópolis|      1.0|
+---+--------------------+--------------+----------------+-------------+---------+

In [ ]:
df2.show()

+---+--------------------+--------------+----------------+--------------+---------+
| id|                nome|           cpf|telefone_celular|        cidade|empregado|
+---+--------------------+--------------+----------------+--------------+---------+
|  1|    Oswaldo da Silva|999.999.999-99| (99)9.9999-9999|        Sobral|      1.0|
|  2|    Maria dos Santos|888.888.888-88| (88)9.8888-8888|     São Paulo|      0.0|
|  3|   Priscila Medeiros|777.777.777-77| (77)9.7777-7777|Rio de Janeiro|      1.0|
|  4|       Roberto Diniz|666.666.666-66| (66)9.6666-6666| Florianópolis|      0.0|
|  5|  Marília Cavalcante|555.555.555-55| (55)9.5555-5555| Florianópolis|      0.0|
|  6|Maria de Fátima L...|444.444.444-44| (44)9.4444-4444|     São Paulo|      1.0|
|  7|Edvaldo Marques d...|333.333.333-33| (33)9.3333-3333| Florianópolis|      1.0|
|  8| Pedro José da Costa|222.222.222-22| (22)9.2222-2222|Rio de Janeiro|      0.0|
|  9|   Priscila Medeiros|777.777.777-77| (77)9.7777-7777|Rio de Janeiro|      1.0|
+---+--------------------+--------------+----------------+--------------+---------+

In [ ]:
#MOSTRAR NOME, CPF E CIDADE DAS PESSOAS QUE ESTÃO EMPREGADAS
df2.select(F.col('nome'), F.col('cpf'), F.col('cidade')).filter(F.col('empregado') == 1.0).show()

+--------------------+--------------+--------------+
|                nome|           cpf|        cidade|
+--------------------+--------------+--------------+
|    Oswaldo da Silva|999.999.999-99|        Sobral|
|   Priscila Medeiros|777.777.777-77|Rio de Janeiro|
|Maria de Fátima L...|444.444.444-44|     São Paulo|
|Edvaldo Marques d...|333.333.333-33| Florianópolis|
|   Priscila Medeiros|777.777.777-77|Rio de Janeiro|
+--------------------+--------------+--------------+

In [ ]:
#OUTRA FORMA DE UTILIZAR O SELECT
lista_colunas = ['nome', 'cpf', 'cidade']

df2.select(lista_colunas).show()

+--------------------+--------------+--------------+
|                nome|           cpf|        cidade|
+--------------------+--------------+--------------+
|    Oswaldo da Silva|999.999.999-99|        Sobral|
|    Maria dos Santos|888.888.888-88|     São Paulo|
|   Priscila Medeiros|777.777.777-77|Rio de Janeiro|
|       Roberto Diniz|666.666.666-66| Florianópolis|
|  Marília Cavalcante|555.555.555-55| Florianópolis|
|Maria de Fátima L...|444.444.444-44|     São Paulo|
|Edvaldo Marques d...|333.333.333-33| Florianópolis|
| Pedro José da Costa|222.222.222-22|Rio de Janeiro|
|   Priscila Medeiros|777.777.777-77|Rio de Janeiro|
+--------------------+--------------+--------------+

In [ ]:
#OUTRA FORMA DE APLICAR O FILTER
df2.filter(df2.cidade == 'São Paulo').show()

+---+--------------------+--------------+----------------+---------+---------+
| id|                nome|           cpf|telefone_celular|   cidade|empregado|
+---+--------------------+--------------+----------------+---------+---------+
|  2|    Maria dos Santos|888.888.888-88| (88)9.8888-8888|São Paulo|      0.0|
|  6|Maria de Fátima L...|444.444.444-44| (44)9.4444-4444|São Paulo|      1.0|
+---+--------------------+--------------+----------------+---------+---------+

In [ ]:
#OUTRA FORMA DE APLICAR O FILTER
df2.filter("cidade = 'Rio de Janeiro'").show()

+---+-------------------+--------------+----------------+--------------+---------+
| id|               nome|           cpf|telefone_celular|        cidade|empregado|
+---+-------------------+--------------+----------------+--------------+---------+
|  3|  Priscila Medeiros|777.777.777-77| (77)9.7777-7777|Rio de Janeiro|      1.0|
|  8|Pedro José da Costa|222.222.222-22| (22)9.2222-2222|Rio de Janeiro|      0.0|
|  9|  Priscila Medeiros|777.777.777-77| (77)9.7777-7777|Rio de Janeiro|      1.0|
+---+-------------------+--------------+----------------+--------------+---------+

In [ ]:
#OUTRA FORMA DE APLICAR O FILTER
df2.filter("cidade = 'Rio de Janeiro' and empregado = 1.0" ).show()

+---+-----------------+--------------+----------------+--------------+---------+
| id|             nome|           cpf|telefone_celular|        cidade|empregado|
+---+-----------------+--------------+----------------+--------------+---------+
|  3|Priscila Medeiros|777.777.777-77| (77)9.7777-7777|Rio de Janeiro|      1.0|
|  9|Priscila Medeiros|777.777.777-77| (77)9.7777-7777|Rio de Janeiro|      1.0|
+---+-----------------+--------------+----------------+--------------+---------+

In [ ]:
#OUTRA FORMA DE APLICAR O FILTER
df2.filter("cidade = 'Rio de Janeiro' or cidade = 'Sobral'" ).show()

+---+-------------------+--------------+----------------+--------------+---------+
| id|               nome|           cpf|telefone_celular|        cidade|empregado|
+---+-------------------+--------------+----------------+--------------+---------+
|  1|   Oswaldo da Silva|999.999.999-99| (99)9.9999-9999|        Sobral|      1.0|
|  3|  Priscila Medeiros|777.777.777-77| (77)9.7777-7777|Rio de Janeiro|      1.0|
|  8|Pedro José da Costa|222.222.222-22| (22)9.2222-2222|Rio de Janeiro|      0.0|
|  9|  Priscila Medeiros|777.777.777-77| (77)9.7777-7777|Rio de Janeiro|      1.0|
+---+-------------------+--------------+----------------+--------------+---------+

In [ ]:
#BUSCAR AS PESSOAS QUE SÃO DA CIDADE DO RIO DE JANEIRO E QUE ESTÃO EMPREGADAS
df2.filter(F.col('cidade') == 'Rio de Janeiro').filter(F.col('empregado') == 1.0).show()

+---+-----------------+--------------+----------------+--------------+---------+
| id|             nome|           cpf|telefone_celular|        cidade|empregado|
+---+-----------------+--------------+----------------+--------------+---------+
|  3|Priscila Medeiros|777.777.777-77| (77)9.7777-7777|Rio de Janeiro|      1.0|
|  9|Priscila Medeiros|777.777.777-77| (77)9.7777-7777|Rio de Janeiro|      1.0|
+---+-----------------+--------------+----------------+--------------+---------+

In [ ]:
#BUSCAR AS PESSOAS QUE SÃO DA CIDADE DO RIO DE JANEIRO E ESTÃO EMPREGADAS
df2.filter((F.col('cidade') == 'Rio de Janeiro') & (F.col('empregado') == 1.0)).show()

+---+-----------------+--------------+----------------+--------------+---------+
| id|             nome|           cpf|telefone_celular|        cidade|empregado|
+---+-----------------+--------------+----------------+--------------+---------+
|  3|Priscila Medeiros|777.777.777-77| (77)9.7777-7777|Rio de Janeiro|      1.0|
|  9|Priscila Medeiros|777.777.777-77| (77)9.7777-7777|Rio de Janeiro|      1.0|
+---+-----------------+--------------+----------------+--------------+---------+

In [ ]:
#BUSCAR AS PESSOAS QUE SÃO DA CIDADE DO RIO DE JANEIRO OU DE SOBRAL
df2.filter((F.col('cidade') == 'Rio de Janeiro') | (F.col('cidade') == 'Sobral')).show()

+---+-------------------+--------------+----------------+--------------+---------+
| id|               nome|           cpf|telefone_celular|        cidade|empregado|
+---+-------------------+--------------+----------------+--------------+---------+
|  1|   Oswaldo da Silva|999.999.999-99| (99)9.9999-9999|        Sobral|      1.0|
|  3|  Priscila Medeiros|777.777.777-77| (77)9.7777-7777|Rio de Janeiro|      1.0|
|  8|Pedro José da Costa|222.222.222-22| (22)9.2222-2222|Rio de Janeiro|      0.0|
|  9|  Priscila Medeiros|777.777.777-77| (77)9.7777-7777|Rio de Janeiro|      1.0|
+---+-------------------+--------------+----------------+--------------+---------+

##RESUMO

spark - Cria a session do spark
- A partir da variável spark (session) conseguimos executar algumas funções, como criar um DataFrame do pyspark

Para criar um DataFrame no Pyspark
cria as colunas
cria os dados
df = spark.createDataFrame(data = dados, schema = colunas)

Após isso, consigo aplicar modificações no dataframe através de funções:
- df.printSchema() - Retorna o esquema do DataFrame
- df.show() - Retorna os registros do DataFrame
- df.select() - Retorna as colunas que desejamos, separadas entre ,
Ex: df.select('id').show()
- df.filter() - Aplica filtros nos dados
Ex: df.filter('cidade' == 'Sobral').show()

In [ ]:
#FUNÇÃO WHERE - Aplica Filtros nos registros
df2.where(F.col('cidade') == 'São Paulo').show()

+---+--------------------+--------------+----------------+---------+---------+
| id|                nome|           cpf|telefone_celular|   cidade|empregado|
+---+--------------------+--------------+----------------+---------+---------+
|  2|    Maria dos Santos|888.888.888-88| (88)9.8888-8888|São Paulo|      0.0|
|  6|Maria de Fátima L...|444.444.444-44| (44)9.4444-4444|São Paulo|      1.0|
+---+--------------------+--------------+----------------+---------+---------+

In [ ]:
'''
Comandos para iniciar
!pip install pyspark

from pyspark.sql import SparkSession
import pyspark.sql.functions as F

spark = ( SparkSession.builder
                      .master('local')
                      .appName('leitura_csv')
                      .config('spark.ui.port', '4050')
                      .getOrCreate())
'''

In [ ]:
#LER DATASETS EM CSV
df_compras = (
    spark.read
         .format('csv')
         .option('delimiter', ';')
         .option('header', 'true')
         .option('inferschema', 'true')
         .load('/content/drive/MyDrive/SOULCODE/compras.csv')
)

In [ ]:
df_compras.printSchema()

root
 |-- Username: string (nullable = true)
 |-- Nome: string (nullable = true)
 |-- Sexo: string (nullable = true)
 |-- Data_Nascimento: string (nullable = true)
 |-- Ocupação: string (nullable = true)
 |-- Assinatura: string (nullable = true)
 |-- Total_Gasto : double (nullable = true)

In [ ]:
df_compras.show(truncate=False)

+-------------+-------------------------+---------+---------------+-----------------------------------+----------+------------+
|Username     |Nome                     |Sexo     |Data_Nascimento|Ocupação                           |Assinatura|Total_Gasto |
+-------------+-------------------------+---------+---------------+-----------------------------------+----------+------------+
|Neaude1978   |  Mr \tbailey Glover     |masculino|01/12/1979     |Analista de Inteligência de Mercado|01/10/2021|1257.45     |
|Maress39     |Mrs  \t isabella   Fowler|feminino |04/08/1960     |Arquiteto de Dados                 |24/03/2020|771.99      |
|Kehonell     | Mrs Chloe \tKirby       |feminino |28/06/1949     |Analista de RH                     |07/06/2020|1021.77     |
|Thimpay      | Mrs louise \tClark      |feminino |07/01/1995     |Arquiteto de Dados                 |03/11/2020|234.76      |
|Giall1985    |Mr Harrison \t Bowen     |feminino |04/04/1987     |Engenheiro de Dados                |25/03/2020|628.07      |
|Neave1959    |Mrs anna \t     Sharp    |feminino |02/02/1970     |Engenheiro de Dados                |18/09/2020|140.04      |
|Nicterims1993|  Mrs \tDaisy Anderson   |masculino|05/07/1985     |Engenheiro de Dados                |29/01/2021|2417.81     |
|Fouldlairity |Ms zoe \tPeacock         |masculino|03/06/1964     |Analista Financeiro                |04/12/2020|51.95       |
|Ancomettiody | Mrs Libby \tWilliams    |feminino |04/09/1974     |Estatístico                        |21/11/2020|130.73      |
|Onswis       |Ms Katie \tMmtcalfe      |feminino |01/07/1983     |Engenheiro de Machine Learning     |27/02/2021|1778.72     |
|Majeappre    |Mr Luca \tVaughan        |feminino |03/01/1971     |Gerente de Tecnologia              |15/07/2022|1034.74     |
|Theired      |Mr Henry \tHaynes        |masculino|06/09/1951     |Analista de Inteligência de Mercado|23/12/2022|1320.04     |
|Botter       |Mr Noah \tWalton         |feminino |09/03/1991     |Web Designer                       |26/07/2022|3464.72     |
+-------------+-------------------------+---------+---------------+-----------------------------------+----------+------------+

In [ ]:
df_compras.columns

['Username',
 'Nome',
 'Sexo',
 'Data_Nascimento',
 'Ocupação',
 'Assinatura',
 'Total_Gasto ']

In [ ]:
#SELECIONAR USERNAME, NOME E SEXO E MOSTRAR
df_compras.select(F.col('Username'), F.col('Nome'), F.col('Sexo')).show()

+-------------+--------------------+---------+
|     Username|                Nome|     Sexo|
+-------------+--------------------+---------+
|   Neaude1978|  Mr \tbailey Glo...|masculino|
|     Maress39|Mrs  \t isabella ...| feminino|
|     Kehonell| Mrs Chloe \tKirby  | feminino|
|      Thimpay| Mrs louise \tCla...| feminino|
|    Giall1985|Mr Harrison \t Bowen| feminino|
|    Neave1959|Mrs anna \t     S...| feminino|
|Nicterims1993|  Mrs \tDaisy And...|masculino|
| Fouldlairity|    Ms zoe \tPeacock|masculino|
| Ancomettiody| Mrs Libby \tWill...| feminino|
|       Onswis| Ms Katie \tMmtcalfe| feminino|
|    Majeappre|   Mr Luca \tVaughan| feminino|
|      Theired|   Mr Henry \tHaynes|masculino|
|       Botter|    Mr Noah \tWalton| feminino|
+-------------+--------------------+---------+

In [ ]:
#CRIAR UM FILTRO APENAS POR ENGENHEIROS DE DADOS E MOSTRAR
df_compras.filter(F.col('Ocupação') == 'Engenheiro de Dados').show()

+-------------+--------------------+---------+---------------+-------------------+----------+------------+
|     Username|                Nome|     Sexo|Data_Nascimento|           Ocupação|Assinatura|Total_Gasto |
+-------------+--------------------+---------+---------------+-------------------+----------+------------+
|    Giall1985|Mr Harrison \t Bowen| feminino|     04/04/1987|Engenheiro de Dados|25/03/2020|      628.07|
|    Neave1959|Mrs anna \t     S...| feminino|     02/02/1970|Engenheiro de Dados|18/09/2020|      140.04|
|Nicterims1993|  Mrs \tDaisy And...|masculino|     05/07/1985|Engenheiro de Dados|29/01/2021|     2417.81|
+-------------+--------------------+---------+---------------+-------------------+----------+------------+

In [ ]:
#VERIFICAR AS PESSOAS QUE GASTARAM MAIS QUE 2 MIL EM TOTAL GASTO
df_compras.filter(F.col('Total_Gasto ') > 2000).show()

+-------------+--------------------+---------+---------------+-------------------+----------+------------+
|     Username|                Nome|     Sexo|Data_Nascimento|           Ocupação|Assinatura|Total_Gasto |
+-------------+--------------------+---------+---------------+-------------------+----------+------------+
|Nicterims1993|  Mrs \tDaisy And...|masculino|     05/07/1985|Engenheiro de Dados|29/01/2021|     2417.81|
|       Botter|    Mr Noah \tWalton| feminino|     09/03/1991|       Web Designer|26/07/2022|     3464.72|
+-------------+--------------------+---------+---------------+-------------------+----------+------------+

In [ ]:
#VERIFICAR AS PESSOAS DO SEXO FEMININO QUE GASTARAM MAIS QUE 2.500
df_compras.filter(F.col('Sexo') == 'feminino').filter(F.col('Total_Gasto ') > 2500).show()

+--------+----------------+--------+---------------+------------+----------+------------+
|Username|            Nome|    Sexo|Data_Nascimento|    Ocupação|Assinatura|Total_Gasto |
+--------+----------------+--------+---------------+------------+----------+------------+
|  Botter|Mr Noah \tWalton|feminino|     09/03/1991|Web Designer|26/07/2022|     3464.72|
+--------+----------------+--------+---------------+------------+----------+------------+

In [ ]:
#VERIFICAR A QUANTIDADE DE REGISTROS DO DATAFRAME
df_compras.count()

13

In [ ]:
#VERIFICAR OS TIPOS DISTINTOS DE GÊNEROS EXISTENTES
df_compras.select(F.col('Sexo')).distinct().count()
df_compras.select(F.col('Sexo')).distinct().show()

+---------+
|     Sexo|
+---------+
|masculino|
| feminino|
+---------+

In [ ]:
#df2, df_compras

In [ ]:
#CRIAÇÃO DE NOVAS COLUNAS - withColumn
df2 = df2.withColumn('Ativo', F.lit('sim'))

In [ ]:
type(df2)

pyspark.sql.dataframe.DataFrame

In [ ]:
df2.show()

+---+--------------------+--------------+----------------+--------------+---------+-----+
| id|                nome|           cpf|telefone_celular|        cidade|empregado|Ativo|
+---+--------------------+--------------+----------------+--------------+---------+-----+
|  1|    Oswaldo da Silva|999.999.999-99| (99)9.9999-9999|        Sobral|      1.0|  sim|
|  2|    Maria dos Santos|888.888.888-88| (88)9.8888-8888|     São Paulo|      0.0|  sim|
|  3|   Priscila Medeiros|777.777.777-77| (77)9.7777-7777|Rio de Janeiro|      1.0|  sim|
|  4|       Roberto Diniz|666.666.666-66| (66)9.6666-6666| Florianópolis|      0.0|  sim|
|  5|  Marília Cavalcante|555.555.555-55| (55)9.5555-5555| Florianópolis|      0.0|  sim|
|  6|Maria de Fátima L...|444.444.444-44| (44)9.4444-4444|     São Paulo|      1.0|  sim|
|  7|Edvaldo Marques d...|333.333.333-33| (33)9.3333-3333| Florianópolis|      1.0|  sim|
|  8| Pedro José da Costa|222.222.222-22| (22)9.2222-2222|Rio de Janeiro|      0.0|  sim|
|  9|   Priscila Medeiros|777.777.777-77| (77)9.7777-7777|Rio de Janeiro|      1.0|  sim|
+---+--------------------+--------------+----------------+--------------+---------+-----+

NoneType

In [ ]:
#CUIDADO AO UTILIZAR UM NOME DE COLUNA JÁ EXISTENTE, POIS O withColumn IRÁ ALTERAR O CONTEÚDO DELA
df2.withColumn('nome', F.lit('Joaquim')).show()

+---+-------+--------------+----------------+--------------+---------+-----+
| id|   nome|           cpf|telefone_celular|        cidade|empregado|Ativo|
+---+-------+--------------+----------------+--------------+---------+-----+
|  1|Joaquim|999.999.999-99| (99)9.9999-9999|        Sobral|      1.0|  sim|
|  2|Joaquim|888.888.888-88| (88)9.8888-8888|     São Paulo|      0.0|  sim|
|  3|Joaquim|777.777.777-77| (77)9.7777-7777|Rio de Janeiro|      1.0|  sim|
|  4|Joaquim|666.666.666-66| (66)9.6666-6666| Florianópolis|      0.0|  sim|
|  5|Joaquim|555.555.555-55| (55)9.5555-5555| Florianópolis|      0.0|  sim|
|  6|Joaquim|444.444.444-44| (44)9.4444-4444|     São Paulo|      1.0|  sim|
|  7|Joaquim|333.333.333-33| (33)9.3333-3333| Florianópolis|      1.0|  sim|
|  8|Joaquim|222.222.222-22| (22)9.2222-2222|Rio de Janeiro|      0.0|  sim|
|  9|Joaquim|777.777.777-77| (77)9.7777-7777|Rio de Janeiro|      1.0|  sim|
+---+-------+--------------+----------------+--------------+---------+-----+

In [ ]:
#RENOMEAR COLUNAS
df2 = df2.withColumnRenamed('telefone_celular', 'celular')

In [ ]:
df2.show()

+---+--------------------+--------------+---------------+--------------+---------+-----+
| id|                nome|           cpf|        celular|        cidade|empregado|Ativo|
+---+--------------------+--------------+---------------+--------------+---------+-----+
|  1|    Oswaldo da Silva|999.999.999-99|(99)9.9999-9999|        Sobral|      1.0|  sim|
|  2|    Maria dos Santos|888.888.888-88|(88)9.8888-8888|     São Paulo|      0.0|  sim|
|  3|   Priscila Medeiros|777.777.777-77|(77)9.7777-7777|Rio de Janeiro|      1.0|  sim|
|  4|       Roberto Diniz|666.666.666-66|(66)9.6666-6666| Florianópolis|      0.0|  sim|
|  5|  Marília Cavalcante|555.555.555-55|(55)9.5555-5555| Florianópolis|      0.0|  sim|
|  6|Maria de Fátima L...|444.444.444-44|(44)9.4444-4444|     São Paulo|      1.0|  sim|
|  7|Edvaldo Marques d...|333.333.333-33|(33)9.3333-3333| Florianópolis|      1.0|  sim|
|  8| Pedro José da Costa|222.222.222-22|(22)9.2222-2222|Rio de Janeiro|      0.0|  sim|
|  9|   Priscila Medeiros|777.777.777-77|(77)9.7777-7777|Rio de Janeiro|      1.0|  sim|
+---+--------------------+--------------+---------------+--------------+---------+-----+

In [ ]:
#VERIFICAR A QUANTIDADE DE REGISTROS DO DATAFRAME
df2.count()

9

In [ ]:
#VERIFICAR A QUANTIDADE DE REGISTROS REMOVENDO AS LINHAS DUPLICADAS
df2.dropDuplicates().count()

9

In [ ]:
#TOTAL DE REGISTROS DUPLICADOS
total = df2.count() - df2.dropDuplicates().count()
print(f'Total de Registros Duplicados = {total}')

Total de Registros Duplicados = 0

In [ ]:
#COMANDO PARA DROPAR UMA COLUNA
df2 = df2.drop(F.col('id'))

In [ ]:
#VERIFICAR A QUANTIDADE DE REGISTROS DO DATAFRAME
df2.count()

9

In [ ]:
df2.dropDuplicates().count()

8

In [ ]:
#TOTAL DE REGISTROS DUPLICADOS
total = df2.count() - df2.dropDuplicates().count()
print(f'Total de Registros Duplicados = {total}')

Total de Registros Duplicados = 1

In [ ]:
#VERIFICAR SE EXISTE MAIS DE UM CPF IGUAL
df2.select(F.col('cpf')).count()

9

In [ ]:
df2.select(F.col('cpf')).distinct().count()

8

In [ ]:
df2.select(F.col('cpf')).dropDuplicates().count()

8

In [ ]:
total = df2.select(F.col('cpf')).count() - df2.select(F.col('cpf')).distinct().count()
print(f'O total de CPFs Repetidos é = {total}')

O total de CPFs Repetidos é = 1

In [ ]:
#df2.dropDuplicates().show()
df2 = df2.dropDuplicates()

In [ ]:
df2.show()

+--------------------+--------------+---------------+--------------+---------+-----+
|                nome|           cpf|        celular|        cidade|empregado|Ativo|
+--------------------+--------------+---------------+--------------+---------+-----+
|       Roberto Diniz|666.666.666-66|(66)9.6666-6666| Florianópolis|      0.0|  sim|
|  Marília Cavalcante|555.555.555-55|(55)9.5555-5555| Florianópolis|      0.0|  sim|
|Maria de Fátima L...|444.444.444-44|(44)9.4444-4444|     São Paulo|      1.0|  sim|
|   Priscila Medeiros|777.777.777-77|(77)9.7777-7777|Rio de Janeiro|      1.0|  sim|
|    Maria dos Santos|888.888.888-88|(88)9.8888-8888|     São Paulo|      0.0|  sim|
|Edvaldo Marques d...|333.333.333-33|(33)9.3333-3333| Florianópolis|      1.0|  sim|
|    Oswaldo da Silva|999.999.999-99|(99)9.9999-9999|        Sobral|      1.0|  sim|
| Pedro José da Costa|222.222.222-22|(22)9.2222-2222|Rio de Janeiro|      0.0|  sim|
+--------------------+--------------+---------------+--------------+---------+-----+

In [ ]:
#RETORNA APENAS VALORES ÚNICOS PARA A COLUNA CIDADE
df2.select(F.col('cidade')).dropDuplicates().show()

+--------------+
|        cidade|
+--------------+
|        Sobral|
| Florianópolis|
|     São Paulo|
|Rio de Janeiro|
+--------------+

In [ ]:
df_compras.show()

+-------------+--------------------+---------+---------------+--------------------+----------+------------+
|     Username|                Nome|     Sexo|Data_Nascimento|            Ocupação|Assinatura|Total_Gasto |
+-------------+--------------------+---------+---------------+--------------------+----------+------------+
|   Neaude1978|  Mr \tbailey Glo...|masculino|     01/12/1979|Analista de Intel...|01/10/2021|     1257.45|
|     Maress39|Mrs  \t isabella ...| feminino|     04/08/1960|  Arquiteto de Dados|24/03/2020|      771.99|
|     Kehonell| Mrs Chloe \tKirby  | feminino|     28/06/1949|      Analista de RH|07/06/2020|     1021.77|
|      Thimpay| Mrs louise \tCla...| feminino|     07/01/1995|  Arquiteto de Dados|03/11/2020|      234.76|
|    Giall1985|Mr Harrison \t Bowen| feminino|     04/04/1987| Engenheiro de Dados|25/03/2020|      628.07|
|    Neave1959|Mrs anna \t     S...| feminino|     02/02/1970| Engenheiro de Dados|18/09/2020|      140.04|
|Nicterims1993|  Mrs \tDaisy And...|masculino|     05/07/1985| Engenheiro de Dados|29/01/2021|     2417.81|
| Fouldlairity|    Ms zoe \tPeacock|masculino|     03/06/1964| Analista Financeiro|04/12/2020|       51.95|
| Ancomettiody| Mrs Libby \tWill...| feminino|     04/09/1974|         Estatístico|21/11/2020|      130.73|
|       Onswis| Ms Katie \tMmtcalfe| feminino|     01/07/1983|Engenheiro de Mac...|27/02/2021|     1778.72|
|    Majeappre|   Mr Luca \tVaughan| feminino|     03/01/1971|Gerente de Tecnol...|15/07/2022|     1034.74|
|      Theired|   Mr Henry \tHaynes|masculino|     06/09/1951|Analista de Intel...|23/12/2022|     1320.04|
|       Botter|    Mr Noah \tWalton| feminino|     09/03/1991|        Web Designer|26/07/2022|     3464.72|
+-------------+--------------------+---------+---------------+--------------------+----------+------------+

In [ ]:
df2.show()

+--------------------+--------------+---------------+--------------+---------+-----+
|                nome|           cpf|        celular|        cidade|empregado|Ativo|
+--------------------+--------------+---------------+--------------+---------+-----+
|       Roberto Diniz|666.666.666-66|(66)9.6666-6666| Florianópolis|      0.0|  sim|
|  Marília Cavalcante|555.555.555-55|(55)9.5555-5555| Florianópolis|      0.0|  sim|
|Maria de Fátima L...|444.444.444-44|(44)9.4444-4444|     São Paulo|      1.0|  sim|
|   Priscila Medeiros|777.777.777-77|(77)9.7777-7777|Rio de Janeiro|      1.0|  sim|
|    Maria dos Santos|888.888.888-88|(88)9.8888-8888|     São Paulo|      0.0|  sim|
|Edvaldo Marques d...|333.333.333-33|(33)9.3333-3333| Florianópolis|      1.0|  sim|
|    Oswaldo da Silva|999.999.999-99|(99)9.9999-9999|        Sobral|      1.0|  sim|
| Pedro José da Costa|222.222.222-22|(22)9.2222-2222|Rio de Janeiro|      0.0|  sim|
+--------------------+--------------+---------------+--------------+---------+-----+

In [ ]:
#ORDENAÇÃO POR COLUNAS - sort()
#df2.sort(F.col('nome')).show(truncate=False)
#df2.sort(F.col('nome').asc()).show(truncate=False)
df2.sort(F.col('nome').desc()).show(truncate=False)

+------------------------+--------------+---------------+--------------+---------+-----+
|nome                    |cpf           |celular        |cidade        |empregado|Ativo|
+------------------------+--------------+---------------+--------------+---------+-----+
|Roberto Diniz           |666.666.666-66|(66)9.6666-6666|Florianópolis |0.0      |sim  |
|Priscila Medeiros       |777.777.777-77|(77)9.7777-7777|Rio de Janeiro|1.0      |sim  |
|Pedro José da Costa     |222.222.222-22|(22)9.2222-2222|Rio de Janeiro|0.0      |sim  |
|Oswaldo da Silva        |999.999.999-99|(99)9.9999-9999|Sobral        |1.0      |sim  |
|Marília Cavalcante      |555.555.555-55|(55)9.5555-5555|Florianópolis |0.0      |sim  |
|Maria dos Santos        |888.888.888-88|(88)9.8888-8888|São Paulo     |0.0      |sim  |
|Maria de Fátima Lopes   |444.444.444-44|(44)9.4444-4444|São Paulo     |1.0      |sim  |
|Edvaldo Marques de Sousa|333.333.333-33|(33)9.3333-3333|Florianópolis |1.0      |sim  |
+------------------------+--------------+---------------+--------------+---------+-----+

In [ ]:
#ORDENAÇÃO POR COLUNAS - orderBy()
#df2.orderBy(F.col('cidade')).show()
df2.orderBy(F.col('cidade').asc()).show()
df2.orderBy(F.col('cidade').desc()).show()

+--------------------+--------------+---------------+--------------+---------+-----+
|                nome|           cpf|        celular|        cidade|empregado|Ativo|
+--------------------+--------------+---------------+--------------+---------+-----+
|       Roberto Diniz|666.666.666-66|(66)9.6666-6666| Florianópolis|      0.0|  sim|
|Edvaldo Marques d...|333.333.333-33|(33)9.3333-3333| Florianópolis|      1.0|  sim|
|  Marília Cavalcante|555.555.555-55|(55)9.5555-5555| Florianópolis|      0.0|  sim|
| Pedro José da Costa|222.222.222-22|(22)9.2222-2222|Rio de Janeiro|      0.0|  sim|
|   Priscila Medeiros|777.777.777-77|(77)9.7777-7777|Rio de Janeiro|      1.0|  sim|
|    Oswaldo da Silva|999.999.999-99|(99)9.9999-9999|        Sobral|      1.0|  sim|
|Maria de Fátima L...|444.444.444-44|(44)9.4444-4444|     São Paulo|      1.0|  sim|
|    Maria dos Santos|888.888.888-88|(88)9.8888-8888|     São Paulo|      0.0|  sim|
+--------------------+--------------+---------------+--------------+---------+-----+

+--------------------+--------------+---------------+--------------+---------+-----+
|                nome|           cpf|        celular|        cidade|empregado|Ativo|
+--------------------+--------------+---------------+--------------+---------+-----+
|Maria de Fátima L...|444.444.444-44|(44)9.4444-4444|     São Paulo|      1.0|  sim|
|    Maria dos Santos|888.888.888-88|(88)9.8888-8888|     São Paulo|      0.0|  sim|
|    Oswaldo da Silva|999.999.999-99|(99)9.9999-9999|        Sobral|      1.0|  sim|
| Pedro José da Costa|222.222.222-22|(22)9.2222-2222|Rio de Janeiro|      0.0|  sim|
|   Priscila Medeiros|777.777.777-77|(77)9.7777-7777|Rio de Janeiro|      1.0|  sim|
|       Roberto Diniz|666.666.666-66|(66)9.6666-6666| Florianópolis|      0.0|  sim|
|Edvaldo Marques d...|333.333.333-33|(33)9.3333-3333| Florianópolis|      1.0|  sim|
|  Marília Cavalcante|555.555.555-55|(55)9.5555-5555| Florianópolis|      0.0|  sim|
+--------------------+--------------+---------------+--------------+---------+-----+

In [ ]:
#ORDENAÇÃO POR MAIS DE UMA COLUNA
df2.orderBy(F.col('cidade').asc(), F.col('nome').asc()).show()

+--------------------+--------------+---------------+--------------+---------+-----+
|                nome|           cpf|        celular|        cidade|empregado|Ativo|
+--------------------+--------------+---------------+--------------+---------+-----+
|Edvaldo Marques d...|333.333.333-33|(33)9.3333-3333| Florianópolis|      1.0|  sim|
|  Marília Cavalcante|555.555.555-55|(55)9.5555-5555| Florianópolis|      0.0|  sim|
|       Roberto Diniz|666.666.666-66|(66)9.6666-6666| Florianópolis|      0.0|  sim|
| Pedro José da Costa|222.222.222-22|(22)9.2222-2222|Rio de Janeiro|      0.0|  sim|
|   Priscila Medeiros|777.777.777-77|(77)9.7777-7777|Rio de Janeiro|      1.0|  sim|
|    Oswaldo da Silva|999.999.999-99|(99)9.9999-9999|        Sobral|      1.0|  sim|
|Maria de Fátima L...|444.444.444-44|(44)9.4444-4444|     São Paulo|      1.0|  sim|
|    Maria dos Santos|888.888.888-88|(88)9.8888-8888|     São Paulo|      0.0|  sim|
+--------------------+--------------+---------------+--------------+---------+-----+

In [ ]:
#WHEN - OTHERWISE - SITUAÇÃO DO EMPREGADO - 1.0 Empregado, 0.0 - Desempregado
df2.show()

+--------------------+--------------+---------------+--------------+---------+-----+
|                nome|           cpf|        celular|        cidade|empregado|Ativo|
+--------------------+--------------+---------------+--------------+---------+-----+
|       Roberto Diniz|666.666.666-66|(66)9.6666-6666| Florianópolis|      0.0|  sim|
|  Marília Cavalcante|555.555.555-55|(55)9.5555-5555| Florianópolis|      0.0|  sim|
|Maria de Fátima L...|444.444.444-44|(44)9.4444-4444|     São Paulo|      1.0|  sim|
|   Priscila Medeiros|777.777.777-77|(77)9.7777-7777|Rio de Janeiro|      1.0|  sim|
|    Maria dos Santos|888.888.888-88|(88)9.8888-8888|     São Paulo|      0.0|  sim|
|Edvaldo Marques d...|333.333.333-33|(33)9.3333-3333| Florianópolis|      1.0|  sim|
|    Oswaldo da Silva|999.999.999-99|(99)9.9999-9999|        Sobral|      1.0|  sim|
| Pedro José da Costa|222.222.222-22|(22)9.2222-2222|Rio de Janeiro|      0.0|  sim|
+--------------------+--------------+---------------+--------------+---------+-----+

In [ ]:
#CRIANDO UMA NOVA COLUNA COM A INFORMAÇÃO 1.0 - empregado, 0.0 - desempregado
df2 = df2.withColumn('situacao', F.when((F.col('empregado') == 1.0), F.lit('empregado'))
                            .otherwise(F.lit('Desempregado')))

In [ ]:
df2 = df2.drop(F.col('empregado'))

In [ ]:
df2.show()

+--------------------+--------------+---------------+--------------+-----+------------+
|                nome|           cpf|        celular|        cidade|Ativo|    situacao|
+--------------------+--------------+---------------+--------------+-----+------------+
|       Roberto Diniz|666.666.666-66|(66)9.6666-6666| Florianópolis|  sim|Desempregado|
|  Marília Cavalcante|555.555.555-55|(55)9.5555-5555| Florianópolis|  sim|Desempregado|
|Maria de Fátima L...|444.444.444-44|(44)9.4444-4444|     São Paulo|  sim|   empregado|
|   Priscila Medeiros|777.777.777-77|(77)9.7777-7777|Rio de Janeiro|  sim|   empregado|
|    Maria dos Santos|888.888.888-88|(88)9.8888-8888|     São Paulo|  sim|Desempregado|
|Edvaldo Marques d...|333.333.333-33|(33)9.3333-3333| Florianópolis|  sim|   empregado|
|    Oswaldo da Silva|999.999.999-99|(99)9.9999-9999|        Sobral|  sim|   empregado|
| Pedro José da Costa|222.222.222-22|(22)9.2222-2222|Rio de Janeiro|  sim|Desempregado|
+--------------------+--------------+---------------+--------------+-----+------------+

In [ ]:
#AGRUPAR POR ALGUMA OU ALGUMAS COLUNAS PARA OBTER ALGUMA INFORMAÇÃO ESPECÍFICA SOBRE AQUELE GRUPO
df3 = df2.groupBy(F.col('cidade')).count()

In [ ]:
df3.show()

+--------------+-----+
|        cidade|count|
+--------------+-----+
|        Sobral|    1|
| Florianópolis|    3|
|     São Paulo|    2|
|Rio de Janeiro|    2|
+--------------+-----+

In [ ]:
#QUANTIDADE DE PESSOAS POR CIDADE
df2.groupBy(F.col('cidade')).count().show()

+--------------+-----+
|        cidade|count|
+--------------+-----+
|        Sobral|    1|
| Florianópolis|    3|
|     São Paulo|    2|
|Rio de Janeiro|    2|
+--------------+-----+

In [ ]:
#QUANTIDADE DE EMPREGADOS E DESEMPREGADOS
df2.groupBy(F.col('situacao')).count().show()

+------------+-----+
|    situacao|count|
+------------+-----+
|   empregado|    4|
|Desempregado|    4|
+------------+-----+

In [ ]:
df_compras.show()

+-------------+--------------------+---------+---------------+--------------------+----------+------------+
|     Username|                Nome|     Sexo|Data_Nascimento|            Ocupação|Assinatura|Total_Gasto |
+-------------+--------------------+---------+---------------+--------------------+----------+------------+
|   Neaude1978|  Mr \tbailey Glo...|masculino|     01/12/1979|Analista de Intel...|01/10/2021|     1257.45|
|     Maress39|Mrs  \t isabella ...| feminino|     04/08/1960|  Arquiteto de Dados|24/03/2020|      771.99|
|     Kehonell| Mrs Chloe \tKirby  | feminino|     28/06/1949|      Analista de RH|07/06/2020|     1021.77|
|      Thimpay| Mrs louise \tCla...| feminino|     07/01/1995|  Arquiteto de Dados|03/11/2020|      234.76|
|    Giall1985|Mr Harrison \t Bowen| feminino|     04/04/1987| Engenheiro de Dados|25/03/2020|      628.07|
|    Neave1959|Mrs anna \t     S...| feminino|     02/02/1970| Engenheiro de Dados|18/09/2020|      140.04|
|Nicterims1993|  Mrs \tDaisy And...|masculino|     05/07/1985| Engenheiro de Dados|29/01/2021|     2417.81|
| Fouldlairity|    Ms zoe \tPeacock|masculino|     03/06/1964| Analista Financeiro|04/12/2020|       51.95|
| Ancomettiody| Mrs Libby \tWill...| feminino|     04/09/1974|         Estatístico|21/11/2020|      130.73|
|       Onswis| Ms Katie \tMmtcalfe| feminino|     01/07/1983|Engenheiro de Mac...|27/02/2021|     1778.72|
|    Majeappre|   Mr Luca \tVaughan| feminino|     03/01/1971|Gerente de Tecnol...|15/07/2022|     1034.74|
|      Theired|   Mr Henry \tHaynes|masculino|     06/09/1951|Analista de Intel...|23/12/2022|     1320.04|
|       Botter|    Mr Noah \tWalton| feminino|     09/03/1991|        Web Designer|26/07/2022|     3464.72|
+-------------+--------------------+---------+---------------+--------------------+----------+------------+

In [ ]:
df_compras.groupBy(F.col('Sexo')).agg(F.count('Sexo').alias('quantidade'), F.sum('Total_Gasto ').alias('soma_total_gasto')).show()

+---------+----------+-----------------+
|     Sexo|quantidade| soma_total_gasto|
+---------+----------+-----------------+
|masculino|         4|          5047.25|
| feminino|         9|9205.539999999999|
+---------+----------+-----------------+

In [ ]:
#F.max() - Valor Máximo, F.min() - Valor Mínimo, F.avg() - Média Aritmética

In [ ]:
#RETORNAR VALOR MÍNIMO, MÁXIMO E MÉDIA DE TOTAL GASTO POR OCUPAÇÃO
df_compras.groupBy(F.col('Ocupação')).agg(F.count('Total_Gasto ').alias('quantidade'),
                                          F.min('Total_Gasto ').alias('valor_minimo'),
                                          F.max('Total_Gasto ').alias('valor_maximo'),
                                          F.round((F.avg('Total_Gasto ')), 2).alias('media_total_gasto')).show(truncate=False)

+-----------------------------------+----------+------------+------------+-----------------+
|Ocupação                           |quantidade|valor_minimo|valor_maximo|media_total_gasto|
+-----------------------------------+----------+------------+------------+-----------------+
|Engenheiro de Machine Learning     |1         |1778.72     |1778.72     |1778.72          |
|Arquiteto de Dados                 |2         |234.76      |771.99      |503.38           |
|Estatístico                        |1         |130.73      |130.73      |130.73           |
|Analista de RH                     |1         |1021.77     |1021.77     |1021.77          |
|Engenheiro de Dados                |3         |140.04      |2417.81     |1061.97          |
|Analista Financeiro                |1         |51.95       |51.95       |51.95            |
|Gerente de Tecnologia              |1         |1034.74     |1034.74     |1034.74          |
|Web Designer                       |1         |3464.72     |3464.72     |3464.72          |
|Analista de Inteligência de Mercado|2         |1257.45     |1320.04     |1288.75          |
+-----------------------------------+----------+------------+------------+-----------------+

In [ ]:
#ALTERAR VALORES DENTRO DE UM DATAFRAME - replace
df2.replace('Desempregado', 'Desemp').show() #Se não for escolhido subset altera em todo o DataFrame
df2.replace('Desempregado', 'Desemp', subset='situacao').show() #Ao escolher subset altera apenas nas colunas especificadas

+--------------------+--------------+---------------+--------------+-----+---------+
|                nome|           cpf|        celular|        cidade|Ativo| situacao|
+--------------------+--------------+---------------+--------------+-----+---------+
|       Roberto Diniz|666.666.666-66|(66)9.6666-6666| Florianópolis|  sim|   Desemp|
|  Marília Cavalcante|555.555.555-55|(55)9.5555-5555| Florianópolis|  sim|   Desemp|
|Maria de Fátima L...|444.444.444-44|(44)9.4444-4444|     São Paulo|  sim|empregado|
|   Priscila Medeiros|777.777.777-77|(77)9.7777-7777|Rio de Janeiro|  sim|empregado|
|    Maria dos Santos|888.888.888-88|(88)9.8888-8888|     São Paulo|  sim|   Desemp|
|Edvaldo Marques d...|333.333.333-33|(33)9.3333-3333| Florianópolis|  sim|empregado|
|    Oswaldo da Silva|999.999.999-99|(99)9.9999-9999|        Sobral|  sim|empregado|
| Pedro José da Costa|222.222.222-22|(22)9.2222-2222|Rio de Janeiro|  sim|   Desemp|
+--------------------+--------------+---------------+--------------+-----+---------+

In [ ]:
df_compras.select('Total_Gasto ').summary().show()

+-------+------------------+
|summary|      Total_Gasto |
+-------+------------------+
|  count|                13|
|   mean|1096.3684615384614|
| stddev| 996.2833119553741|
|    min|             51.95|
|    25%|            234.76|
|    50%|           1021.77|
|    75%|           1320.04|
|    max|           3464.72|
+-------+------------------+

In [ ]:
df_compras.toPandas().describe()

       Total_Gasto
count     13.000000
mean    1096.368462
std      996.283312
min       51.950000
25%      234.760000
50%     1021.770000
75%     1320.040000
max     3464.720000