<a href="https://colab.research.google.com/github/thaisgulias/DataAnalytics_student/blob/main/AprendendoSQL_DML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''CRIAÇÃO DE TODAS AS TABELAS DO NOSSO EXERCÍCIO
MAES

CREATE TABLE maes(
  id_mae INT AUTO_INCREMENT,
  nome_mae VARCHAR(200) NOT NULL,
  data_nasc DATE NOT NULL,
  cpf_mae VARCHAR(11) NOT NULL UNIQUE,
  rua VARCHAR(100),
  numero INT,
  complemento VARCHAR(50),
  bairro VARCHAR(100),
  cidade VARCHAR(100),
  estado VARCHAR(100),
  cep VARCHAR(20),
  CONSTRAINT PK_maes PRIMARY KEY(id_mae)
);

TELEFONES_MAES

CREATE TABLE telefones_maes (
  id_mae INT,
  numero_telefone VARCHAR(20),
  CONSTRAINT PK_telefones_maes PRIMARY KEY(id_mae, numero_telefone),
  CONSTRAINT FK_telefones_maes FOREIGN KEY (id_mae) REFERENCES maes(id_mae)
);

MEDICOS

CREATE TABLE medicos (
  id_medico INT AUTO_INCREMENT,
  crm_medico VARCHAR(20) NOT NULL UNIQUE,
  nome_medico VARCHAR(200),
  celular_medico VARCHAR(20),
  espec_medico VARCHAR(100),
  CONSTRAINT PK_medicos PRIMARY KEY(id_medico)
);

BEBES

CREATE TABLE bebes (
  id_bebe INT AUTO_INCREMENT,
  nome_bebe VARCHAR(200),
  peso_bebe DOUBLE NOT NULL,
  altura_bebe DOUBLE NOT NULL,
  data_nasc DATE NOT NULL,
  id_mae INT,
  id_medico INT,
  CONSTRAINT PK_bebes PRIMARY KEY(id_bebe),
  CONSTRAINT FK_bebes_maes FOREIGN KEY(id_mae) REFERENCES maes(id_mae),
  CONSTRAINT FK_bebes_medicos FOREIGN KEY(id_medico) REFERENCES medicos(id_medico)
  );
  '''

In [ ]:
''' PASSOS
 1) INSERÇÃO DAS MÃES

INSERT INTO maes VALUES 
(NULL, 'Jaqueline Daiane Yasmin Fogaça', '1992-03-11', '93263708015', 'Vila Humaitá', 396, 'Casa', 'Colônia Oliveira Machado', 'Manaus', 'AM', '69074-170'),
(NULL, 'Sarah Vera Jesus', '1990-12-30', '11089274084', 'Rua Nove', 494, 'Casa', 'Icaraí', 'Divinópolis', 'MG', '35502-235'),
(NULL, 'Rosa Patrícia Rocha', '1984-04-22', '48488100000', 'Travessa Jerônimo Manoel da Silva', 260, 'Casa', 'COHAB', 'Cachoeirinha', 'RS', '94935-310'),
(NULL, 'Antonella Camila Assunção', '1968-03-16', '17116719083', 'Avenida Doutor Lamartine Pinto de Avelar', 749, 'Casa', 'Setor Aeroporto', 'Catalão', 'GO', '75705-545'),
(NULL, 'Giovanna Vera Maitê Castro', '1997-03-01', '72321396083', 'Rua Josefa da Silva Lima', 329, 'Casa', 'Valentina de Figueiredo', 'João Pessoa', 'PB', '58065-002');

 2) INSERÇÃO DOS TELEFONES DAS MÃES

INSERT INTO telefones_maes VALUES 
(1, '(92)9.9298-0000'),
(1, '(92)9.9877-0088'),
(2, '(21)9.9564-1100'),
(3, '(11)9.8900-7117'),
(1, '(92)9.7611-7700'),
(4, '(36)9.5599-0001'),
(2, '(21)9.9765-4455'),
(2, '(21)9.5432-2345'),
(5, '(71)9.9766-6677'),
(5, '(71)9.9298-9298'),
(3, '(11)9.3919-4778');

 3) INSERÇÃO DOS MÉDICOS

INSERT INTO medicos VALUES 
(NULL, '65823699', 'Pedro Paulo da Mata', '(11)9.9888-9999' , 'Anestesista'),
(NULL, '65880033', 'Sophia Daniela Lima', '(27)9.99001234', 'Obstetra'),
(NULL, '36998855', 'Oliver Nathan Castro', '(36)9.87009900', 'Pediatra'),
(NULL, '00223355', 'Nicolas Sérgio Diego Sales', '(11)9.9911-1100', 'Obstetra'),
(NULL, '15699966', 'Amanda Olivia Viana', '(21)9.9966-9966', 'Anestesista'),
(NULL, '66553311', 'Nair Isabelle Gonçalves', '(71)9.5677-7115', 'Pediatra'),
(NULL, '98663355', 'Thomas Sebastião da Cruz', '(87)9.9298-9900', 'Pediatra'),
(NULL, '44456336', 'Sara Bianca Juliana Alves', '(92)9.9766-7788', 'Anestesista');


 4) INSERÇÃO DOS BEBÊS

INSERT INTO bebes VALUES 
(NULL, 'Lorena Clarice Cavalcanti', 3.290, 50, '2016-07-19', 1, 2), 
(NULL, 'Caio Diego Tiago Corte Real', 3.685 , 51, '2012-01-12', 4, 7),
(NULL, 'Renato Pietro Nascimento', 4.600, 49, '2019-09-11', 2, 3),
(NULL, 'Victor Bryan Ryan Castro', 2.890, 52, '2016-03-08', 2, 1),
(NULL, 'Natália Marlene Alice Corte Real', 3.125, 47, '2017-04-22', 3, 4);

'''

In [ ]:
# COMANDO PARA PERMITIR EXCLUIR VALORES DE UMA TABELA COM CHAVE ESTRANGEIRA
# SET FOREIGN_KEYS_CHECK = 0;

In [ ]:
'''
COMANDO PARA CONSULTAS NA TABELA (SELECT)

-Sintaxe do SELECT

SELECT coluna1, coluna2, coluna3... colunaN FROM tabela

Para visualizar todas as colunas de uma vez

SELECT * FROM tabela
'''

In [ ]:
#PARA CRIAR APELIDOS(RENOMEAR) EM UMA COLUNA, EM TEMPO DE CONSULTA, UTILIZAMOS O (AS)
'''
Ex: 
SELECT estado AS Estado FROM tabela
'''

In [ ]:
#SELECIONAR APENAS OS VALORES DISTINTOS DE CADA COLUNA
'''
SELECT DISTINCT cidade FROM tabela

'''

In [ ]:
#VERIFICAR A QUANTIDADE DE REGISTROS DE ACORDO COM DETERMINADA COLUNA OU CONSULTA
'''
SELECT COUNT(DISTINCT cidade) FROM tabela

SELECT COUNT(*) FROM maes

SELECT COUNT(nome_mae) AS QUANTIDADE FROM maes

'''

In [ ]:
#UTILIZAR UMA ORDENAÇÃO NA SAÍDA DOS DADOS (ORDER BY)
'''
SELECT * FROM maes ORDER BY nome_mae;

'''

In [ ]:
#DESCOBRIR O MAIOR VALOR (MAX) E O MENOR VALOR (MIN) EM UMA COLUNA
'''
SELECT MAX(altura_bebe) FROM bebes;

SELECT MIN(altura_bebe) FROM bebes;

Usando os dois juntos

SELECT MIN(altura_bebe) AS MENOR_ALTURA, MAX(altura_bebe) AS MAIOR_ALTURA FROM bebes; 

'''

In [ ]:
#LIMITAR A QUANTIDADE DE REGISTROS A SEREM MOSTRADOS (LIMIT)
'''
SELECT * FROM bebes ORDER BY altura_bebe DESC LIMIT 5

'''

In [ ]:
#MOSTRAR A SOMA DE UMA COLUNA ESPECIFICA (TAMBÉM PODE SER DE ACORDO COM UM FILTRO)
'''
SELECT SUM(altura_bebe) AS soma_altura FROM bebes;

SELECT SUM(peso_bebe) AS soma_peso FROM bebes;

SELECT SUM(altura_bebe) AS soma_altura, SUM(peso_bebe) AS soma_peso FROM bebes;
'''

In [ ]:
#MOSTRAR A MÈDIA ARITMÉTICA DE UMA COLUNA ESPECÍFICA (TAMBÉM PODE SER DE ACORDO COM UM FILTRO)
'''

SELECT AVG(altura_bebe) AS media_altura FROM bebes;

SELECT AVG(peso_bebe) AS media_peso FROM bebes;

SELECT AVG(altura_bebe) AS media_altura, AVG(peso_bebe) AS media_peso FROM bebes;

'''

In [ ]:
#CONSULTA COM CONDIÇÕES (FILTROS) - WHERE

'''
SINTAXE: 

SELECT colunas FROM tabela WHERE condição

'''

In [ ]:
#CONSULTAR OS MEDICOS ONDE A ESPECIALIDADE É PEDIATRIA

'''
SELECT * FROM medicos espec_medico = 'Pediatra';
'''

In [ ]:
# NO COMANDO WHERE PODEMOS UTILIZAR OS SEGUINTES OPERADORES
'''

 = igual
 != ou <> diferente
 > maior
 >= maior ou igual
 < menor
 <= menor ou igual

 LIKE - COMO
 BETWEEN - ENTRE
 IN - EM

'''

In [ ]:
#VERIFICAR OS BEBÊS QUE NASCERAM COM ALTURA MAIOR QUE 50cm
'''
SELECT * FROM bebes WHERE altura_bebe > 50;
'''

In [ ]:
#VERIFICAR OS BEBÊS QUE NASCERAM COM MENOS DE 3kg
'''
SELECT * FROM bebes WHERE peso_bebe < 3;
'''

In [ ]:
#VERIFICAR AS MÃES QUE SÃO DO ESTADO DA PARAÍBA

'''
SELECT * FROM maes WHERE estado = 'PB';

'''

In [ ]:
#VERIFICAR TODAS AS MÃES QUE MORAM EM CASAS
'''
SELECT * FROM maes WHERE complemento = 'Casa';
'''

In [ ]:
#VERIFICAR A QUANTIDADE DE MÃES QUE MORAM EM CASAS
'''
SELECT COUNT(*) AS QTD_MAES FROM maes WHERE complemento = 'Casa';
'''

In [ ]:
#MOSTRAR ID, NOME E DATA DE NASCIMENTO DO BEBÊ QUE POSSUI O ID NÚMERO 3
'''
SELECT id_bebe, nome_bebe, data_nasc FROM bebes WHERE id = 3;
'''

In [ ]:
#AND, OR, NOT, IN
'''
 CONDIÇÕES COMPLEMENTARES - AND
 CONDIÇÕES ALTERNATIVAS - OR
 NEGAR UMA CONDIÇÃO - NOT
 CONDIÇÃO ALTERNATIVAS - IN (VÁRIOS OR) 
'''

In [ ]:
#BUSCAR TODOS OS BEBES QUE POSSUEM ALTURA MAIOR QUE 49cm E PESO MENOR QUE 3kg
'''

SELECT * FROM bebes WHERE altura_bebe > 49 AND peso_bebe < 3;

'''

In [ ]:
#BUSCAR TODAS OS MÉDICOS QUE SÃO ANESTESISTAS OU PEDIATRAS.
'''
SELECT * FROM medicos WHERE espec_medico = 'Anestesista' OR espec_medico = 'Pediatra';

'''

In [ ]:
#BUSCAR TODAS OS MÉDICOS QUE NÃO SÃO ANESTESISTAS.
'''
SELECT * FROM medicos WHERE NOT espec_medico = 'Anestesista';

'''

In [ ]:
#BUSCAR TODAS OS MÉDICOS QUE SÃO ANESTESISTAS OU PEDIATRAS - UTILIZANDO O IN

'''
SELECT * FROM medicos WHERE espec_medico IN ('Anestesista', 'Pediatra');

'''

In [ ]:
#BUSCAR TODAS OS MÉDICOS QUE NÃO SÃO ANESTESISTAS OU PEDIATRAS - UTILIZANDO O IN

'''
SELECT * FROM medicos WHERE espec_medico NOT IN ('Anestesista', 'Pediatra');

'''

In [ ]:
#VERIFICAR TODOS OS BEBÊS QUE NASCERAM ENTRE JANEIRO DE 2016 E DEZEMBRO DE 2017
'''
SELECT * FROM bebes WHERE data_nasc >= '2016-01-01' AND data_nasc <= '2017-12-31';
'''

In [ ]:
#MESMO EXEMPLO ANTERIOR UTILIZANDO O BETWEEN
'''

SELECT * FROM bebes WHERE data_nasc BETWEEN '2016-01-01' AND '2017-12-31';


'''

In [ ]:
'''
INSERT INTO maes VALUES (NULL, 'Patrícia da Silva Viera', '1992-03-11', '66588744122', 'Vila Humaitá', 396, 'Casa', 'Colônia Oliveira Machado', 'Manaus', 'AM', '69074-170');

'''

In [ ]:
#JOIN

In [ ]:
#Mostrar o id da mãe,  nome da mãe junto com o nome do bebê dela, o peso e a altura do bebê e a data de nascimento
'''
SELECT maes.id_mae, maes.nome_mae, maes.data_nasc, bebes.nome_bebe, bebes.peso_bebe, bebes.altura_bebe, bebes.data_nasc
FROM maes INNER JOIN bebes
ON maes.id_mae = bebes.id_mae;

SELECT maes.id_mae, bebes.id_mae, maes.nome_mae, maes.data_nasc, bebes.nome_bebe, bebes.peso_bebe, bebes.altura_bebe, bebes.data_nasc
FROM maes INNER JOIN bebes
ON maes.id_mae = bebes.id_mae;
'''

In [ ]:
''' INNER JOIN
(JUNTAR AS LINHAS DE TABELAS DIFERENTES QUE POSSUEM VALORES EM COMUM - PK e FK)

SELECT maes.data_nasc, bebes.data_nasc

'''

In [ ]:
'''
SELECT maes.nome_mae, telefones_maes.numero_telefone

FROM maes

INNER JOIN telefones_maes

ON maes.id_mae = telefones_maes.id_mae

OU DE MANEIRA MAIS SIMPLIFICADA

SELECT m.nome_mae, t.numero_telefone

FROM maes as m

INNER JOIN telefones_maes as t

ON m.id_mae = t.id_mae

'''

In [ ]:
#Mostrar o id da mãe, nome da mãe e o número de cada telefone dela
'''
SELECT maes.id_mae, maes.nome_mae, telefones_maes.numero_telefone

FROM maes

INNER JOIN telefones_maes

ON maes.id_mae = telefones_maes.id_mae

OU DE MANEIRA MAIS SIMPLIFICADA

SELECT m.nome_mae, m.nome_mae, t.numero_telefone

FROM maes as m

INNER JOIN telefones_maes as t

ON m.id_mae = t.id_mae
'''

In [ ]:
# Nome do bebê junto com o nome do médico que fez o seu parto
'''
SELECT b.nome_bebe, m.nome_medico

FROM bebes AS b 

INNER JOIN medicos AS m 

ON b.id_medico = m.id_medico;

'''

In [ ]:
# Nome do bebê, nome da mãe e nome do médico que fez o seu parto
'''
SELECT b.nome_bebe, m.nome_mae, med.nome_medico

FROM bebes as b 

INNER JOIN maes as m 

ON b.id_mae = m.id_mae

INNER JOIN medicos as med

ON b.id_medico = med.id_medico;

'''

In [ ]:
#Se o bebê teve um médico da especialidade Pediatria em seu parto, mostrar o crm do médico, junto com 
# o nome dele e o nome da mãe, juntamente com a sua cidade e estado e o nome do bebê.
'''
SELECT b.nome_bebe, m.nome_mae, m.cidade, m.estado, med.nome_medico, med.crm_medico

FROM bebes as b 

INNER JOIN maes as m 

ON b.id_mae = m.id_mae

INNER JOIN medicos as med

ON b.id_medico = med.id_medico;

WHERE med.espec_medico = 'Pediatra';

'''

In [ ]:
#LEFT JOIN
'''
SELECT colunas

FROM tabela1

LEFT JOIN tabela2

ON tabela1.id = tabela2.id;
'''

In [ ]:
#RIGHT JOIN
'''
SELECT colunas

FROM tabela1

RIGHT JOIN tabela2

ON tabela1.id = tabela2.id;

'''

In [ ]:
# FULL JOIN OU FULL OUTER JOIN
'''
SELECT colunas

FROM tabela1

FULL JOIN tabela2

ON tabela1.id = tabela2.id;

'''

In [ ]:
# CASE WHEN

'''
SINTAXE:

SELECT coluna

CASE
   WHEN coluna < 2.5 THEN 'Esse texto aqui'
   WHEN coluna < 3.0 THEN 'Colocar esse outro texto'
   WHEN coluna < 3.5 THEN 'Colocar esse outro texto'
   ELSE 'Colocar esse texto final'
END AS classificacao

FROM tabela;

In [ ]:
# DELETAR UM REGISTRO DO BANCO DE DADOS
'''
DELETE FROM tabela WHERE condição

DELETE FROM tabela;

DELETE FROM bebes WHERE id_bebe = 1;

DELETE FROM bebes WHERE peso_bebe > 4;

'''

In [ ]:
#ATUALIZAR UM REGISTRO DO BANCO DE DADOS
'''
UPDATE tabela SET nome_bebe = 'Florêncio Perez', altura_bebe = 50
WHERE id_bebe = 2;


UPDATE bebes SET id_bebe = 1 WHERE id_bebe = 9;

DELETE FROM bebes;

TRUNCATE TABLE bebes;

UPDATE maes SET rua = '25 de março' WHERE id_mae = 1;
'''