<a href="https://colab.research.google.com/github/thaisgulias/DataAnalytics_student/blob/main/AprendendoSQL_DDL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#CONEXÃO GCLOUD COM MYSQL
gcloud sql connect nome_instancia --user=root

In [ ]:
#VERIFICAR OS BANCOS DE DADOS
SHOW DATABASES;

#CRIAR UM BANCO DE DADOS
CREATE DATABASE maternidade;

#VERIFICAR NOVAMENTE OS BANCOS DE DADOS
SHOW DATABASES;

#SELECIONAR O BANCO DE DADOS QUE IREMOS TRABALHAR
USE maternidade;

#VERIFICAR QUAIS SÃO AS TABELAS EXISTENTES NO BANCO
SHOW TABLES;

#CRIAR UMA PRIMEIRA TABELA NO BANCO DE DADOS
CREATE TABLE maes (
     id_mae INT, 
     nome_mae VARCHAR(200),
     data_nasc DATE,
     rua VARCHAR(200),
     numero INT,
     comp VARCHAR(50),
     cidade VARCHAR(100),
     estado VARCHAR(2),
     CEP VARCHAR(10)
);

#UTILIZANDO ALTER TABLE
CREATE TABLE maes(
  id_mae INT AUTO_INCREMENT,
  nome_mae VARCHAR(200),
  data_nasc DATE NOT NULL,
  cpf_mae VARCHAR(11) NOT NULL UNIQUE,
  CONSTRAINT PK_maes PRIMARY KEY(id_mae)
);
  
ALTER TABLE maes
ADD PRIMARY KEY(id_mae);
  
ALTER TABLE maes 
ADD CONSTRAINT PK_maes PRIMARY KEY(id_mae);
  
ALTER TABLE maes
DROP PRIMARY KEY;
  
ALTER TABLE maes
DROP CONSTRAINT PK_maes;

#DEFAULT
CREATE TABLE maes(
  id_mae INT AUTO_INCREMENT,
  nome_mae VARCHAR(200),
  data_nasc DATE NOT NULL,
  cpf_mae VARCHAR(11) NOT NULL UNIQUE,
  cidade VARCHAR(200) DEFAULT 'Fortaleza',
  CONSTRAINT PK_maes PRIMARY KEY(id_mae)
  );

#CONSTRAINT PRIMARY KEY E FOREIGN KEY

CREATE TABLE bebes (
  id_bebe INT AUTO_INCREMENT,
  nome_bebe VARCHAR(200),
  peso_bebe DOUBLE NOT NULL,
  altura_bebe DOUBLE NOT NULL,
  data_nasc DATE NOT NULL,
  id_mae INT,
  CONSTRAINT PK_bebes PRIMARY KEY(id_bebe),
  CONSTRAINT FK_bebes_maes FOREIGN KEY(id_mae)
  REFERENCES maes(id_mae)
);
  
ALTER TABLE bebes
ADD CONSTRAINT FK_bebes_maes
FOREIGN KEY(id_mae) REFERENCES maes(id_mae)

In [ ]:
#TIPOS DE DADOS
TEXTUAIS
CHAR(length) - TAMANHO FIXO (length) Até 255 caracteres
VARCHAR(length) - Tamanho Variável Até 65535 caracteres
LONGTEXT - Tamanho variável até 4.294.967.295 caracteres

NUMÉRICOS
INT - -2147483648 até 2147483647
FLOAT - Até 24 casas decimais
DOUBLE - de 25 até 53 casas decimais
DECIMAL(tamanho, casas decimais)

DATAS
DATE - YYYY-MM-DD
DATETIME - YYYY-MM-DD hh:mm:ss
TIMESTAMP YYYY-MM-DD hh:mm:ss
TIME - hh:mm:ss
YEAR - YYYY

In [ ]:
#CRIANDO A PRIMEIRA TABELA DE MÃES

1) gcloud sql connect nome_instancia --user=root
2) entrar com a senha
3) show databases (Para ver os bancos)
4) create database maternidade(se ainda não existir)
5) use database maternidade
6) show tables (para verificar quais tabelas existem no bd maternidade)
7) utilizar o comando abaixo para criar a tabela maes

CREATE TABLE maes(
  id_mae INT AUTO_INCREMENT,
  nome_mae VARCHAR(200) NOT NULL,
  data_nasc DATE NOT NULL,
  cpf_mae VARCHAR(11) NOT NULL UNIQUE,
  rua VARCHAR(100),
  numero INT,
  complemento VARCHAR(50),
  bairro VARCHAR(100),
  cidade VARCHAR(100),
  estado VARCHAR(100),
  cep VARCHAR(20),
  CONSTRAINT PK_maes PRIMARY KEY(id_mae)
);

8) show tables (para verificar se a tabela realmente foi criada)
9) describe maes (Descreve o schema - Mostra uma lista com os atributos e os tipos)