<a href="https://colab.research.google.com/github/thaisgulias/DataAnalytics_student/blob/main/Aprendendo_Comandos_B%C3%A1sicos_Pyspark_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.9/dist-packages (3.3.2)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.9/dist-packages (from pyspark) (0.10.9.5)

In [ ]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [ ]:
spark = (SparkSession
                     .builder
                     .appName('comandos_basicos_2')
                     .config('spark.ui.port', '4050')
                     .getOrCreate()
)

In [ ]:
spark

In [ ]:
df = (spark.read
           .format('csv')
           .option('delimiter', ';')
           .option('header', 'true')
           .option('inferschema', 'false')
           .load('/content/drive/MyDrive/SOULCODE/arquivo_geral.csv')
)

In [ ]:
df.printSchema()

root
 |-- regiao: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- data: timestamp (nullable = true)
 |-- casosNovos: integer (nullable = true)
 |-- casosAcumulados: integer (nullable = true)
 |-- obitosNovos: integer (nullable = true)
 |-- obitosAcumulados: integer (nullable = true)

In [ ]:
df.show()

+------+------+-------------------+----------+---------------+-----------+----------------+
|regiao|estado|               data|casosNovos|casosAcumulados|obitosNovos|obitosAcumulados|
+------+------+-------------------+----------+---------------+-----------+----------------+
| Norte|    RO|2020-01-30 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-01-31 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-01 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-02 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-03 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-04 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-05 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-06 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-07 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-08 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-09 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-10 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-11 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-12 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-13 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-14 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-15 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-16 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-17 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-18 00:00:00|         0|              0|          0|               0|
+------+------+-------------------+----------+---------------+-----------+----------------+
only showing top 20 rows

In [ ]:
#TRABALHANDO COM DATAS
df.select(F.col('data')).show()

+-------------------+
|               data|
+-------------------+
|2020-01-30 00:00:00|
|2020-01-31 00:00:00|
|2020-02-01 00:00:00|
|2020-02-02 00:00:00|
|2020-02-03 00:00:00|
|2020-02-04 00:00:00|
|2020-02-05 00:00:00|
|2020-02-06 00:00:00|
|2020-02-07 00:00:00|
|2020-02-08 00:00:00|
|2020-02-09 00:00:00|
|2020-02-10 00:00:00|
|2020-02-11 00:00:00|
|2020-02-12 00:00:00|
|2020-02-13 00:00:00|
|2020-02-14 00:00:00|
|2020-02-15 00:00:00|
|2020-02-16 00:00:00|
|2020-02-17 00:00:00|
|2020-02-18 00:00:00|
+-------------------+
only showing top 20 rows

In [ ]:
#VERIFICAR QUANTIDADE DE REGISTROS POR REGIAO
df.groupBy(F.col('regiao')).count().show()

+------------+-----+
|      regiao|count|
+------------+-----+
|    Nordeste|  783|
|         Sul|  261|
|     Sudeste|  348|
|Centro-Oeste|  348|
|       Norte|  609|
+------------+-----+

In [ ]:
df.groupBy(F.col('regiao')).agg(F.count('regiao').alias('quantidade')).orderBy(F.col('quantidade').desc()).show()

+------------+----------+
|      regiao|quantidade|
+------------+----------+
|    Nordeste|       783|
|       Norte|       609|
|     Sudeste|       348|
|Centro-Oeste|       348|
|         Sul|       261|
+------------+----------+

In [ ]:
df.show()

+------+------+-------------------+----------+---------------+-----------+----------------+
|regiao|estado|               data|casosNovos|casosAcumulados|obitosNovos|obitosAcumulados|
+------+------+-------------------+----------+---------------+-----------+----------------+
| Norte|    RO|2020-01-30 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-01-31 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-01 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-02 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-03 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-04 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-05 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-06 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-07 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-08 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-09 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-10 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-11 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-12 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-13 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-14 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-15 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-16 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-17 00:00:00|         0|              0|          0|               0|
| Norte|    RO|2020-02-18 00:00:00|         0|              0|          0|               0|
+------+------+-------------------+----------+---------------+-----------+----------------+
only showing top 20 rows

In [ ]:
#VERIFICAR QUANTIDADE DE REGISTROS POR ESTADO
df.groupBy(F.col('estado')).count().show()

+------+-----+
|estado|count|
+------+-----+
|    SC|   87|
|    RO|   87|
|    PI|   87|
|    AM|   87|
|    RR|   87|
|    GO|   87|
|    TO|   87|
|    MT|   87|
|    SP|   87|
|    PB|   87|
|    ES|   87|
|    RS|   87|
|    MS|   87|
|    AL|   87|
|    MG|   87|
|    PA|   87|
|    BA|   87|
|    SE|   87|
|    PE|   87|
|    CE|   87|
+------+-----+
only showing top 20 rows

In [ ]:
#VERIFICAR O TOTAL DE CASOS NOVOS POR ESTADO
df.groupBy(F.col('estado')).agg(F.sum('casosNovos').alias('Total_casos_novos')).orderBy(F.col('Total_casos_novos').desc()).show()

+------+-----------------+
|estado|Total_casos_novos|
+------+-----------------+
|    SP|            20004|
|    RJ|             6828|
|    CE|             5421|
|    PE|             4507|
|    AM|             3635|
|    MA|             2105|
|    BA|             2081|
|    ES|             1595|
|    PA|             1579|
|    MG|             1481|
|    SC|             1209|
|    PR|             1140|
|    RS|             1096|
|    DF|             1013|
|    RN|              781|
|    AP|              685|
|    GO|              506|
|    AL|              501|
|    PB|              447|
|    RR|              345|
+------+-----------------+
only showing top 20 rows

In [ ]:
#VERIFICAR O TOTAL DE CASOS ACUMULADOS POR REGIAO
df.groupBy(F.col('regiao')).agg(F.sum('casosAcumulados').alias('total_casos_acumulados')).orderBy(F.col('total_casos_acumulados').desc()).show()

+------------+----------------------+
|      regiao|total_casos_acumulados|
+------------+----------------------+
|     Sudeste|                394635|
|    Nordeste|                160011|
|       Norte|                 65439|
|         Sul|                 58308|
|Centro-Oeste|                 32840|
+------------+----------------------+

In [ ]:
df.select(F.col('regiao'), F.col('casosAcumulados')).groupBy(F.col('regiao')).sum('casosAcumulados').show()

+------------+--------------------+
|      regiao|sum(casosAcumulados)|
+------------+--------------------+
|    Nordeste|              160011|
|         Sul|               58308|
|     Sudeste|              394635|
|Centro-Oeste|               32840|
|       Norte|               65439|
+------------+--------------------+

In [ ]:
#FUNÇÕES PARA TRABALHAR COM DATA
#1) current_date() - Retorna a data atual (yyyy-MM-dd)
#df.withColumn('data_atual', F.current_date()).show()
df.withColumn('data_atual', F.current_timestamp()).show(truncate=False)

+------+------+-------------------+----------+---------------+-----------+----------------+--------------------------+
|regiao|estado|data               |casosNovos|casosAcumulados|obitosNovos|obitosAcumulados|data_atual                |
+------+------+-------------------+----------+---------------+-----------+----------------+--------------------------+
|Norte |RO    |2020-01-30 00:00:00|0         |0              |0          |0               |2023-04-11 17:11:44.250477|
|Norte |RO    |2020-01-31 00:00:00|0         |0              |0          |0               |2023-04-11 17:11:44.250477|
|Norte |RO    |2020-02-01 00:00:00|0         |0              |0          |0               |2023-04-11 17:11:44.250477|
|Norte |RO    |2020-02-02 00:00:00|0         |0              |0          |0               |2023-04-11 17:11:44.250477|
|Norte |RO    |2020-02-03 00:00:00|0         |0              |0          |0               |2023-04-11 17:11:44.250477|
|Norte |RO    |2020-02-04 00:00:00|0         |0              |0          |0               |2023-04-11 17:11:44.250477|
|Norte |RO    |2020-02-05 00:00:00|0         |0              |0          |0               |2023-04-11 17:11:44.250477|
|Norte |RO    |2020-02-06 00:00:00|0         |0              |0          |0               |2023-04-11 17:11:44.250477|
|Norte |RO    |2020-02-07 00:00:00|0         |0              |0          |0               |2023-04-11 17:11:44.250477|
|Norte |RO    |2020-02-08 00:00:00|0         |0              |0          |0               |2023-04-11 17:11:44.250477|
|Norte |RO    |2020-02-09 00:00:00|0         |0              |0          |0               |2023-04-11 17:11:44.250477|
|Norte |RO    |2020-02-10 00:00:00|0         |0              |0          |0               |2023-04-11 17:11:44.250477|
|Norte |RO    |2020-02-11 00:00:00|0         |0              |0          |0               |2023-04-11 17:11:44.250477|
|Norte |RO    |2020-02-12 00:00:00|0         |0              |0          |0               |2023-04-11 17:11:44.250477|
|Norte |RO    |2020-02-13 00:00:00|0         |0              |0          |0               |2023-04-11 17:11:44.250477|
|Norte |RO    |2020-02-14 00:00:00|0         |0              |0          |0               |2023-04-11 17:11:44.250477|
|Norte |RO    |2020-02-15 00:00:00|0         |0              |0          |0               |2023-04-11 17:11:44.250477|
|Norte |RO    |2020-02-16 00:00:00|0         |0              |0          |0               |2023-04-11 17:11:44.250477|
|Norte |RO    |2020-02-17 00:00:00|0         |0              |0          |0               |2023-04-11 17:11:44.250477|
|Norte |RO    |2020-02-18 00:00:00|0         |0              |0          |0               |2023-04-11 17:11:44.250477|
+------+------+-------------------+----------+---------------+-----------+----------------+--------------------------+
only showing top 20 rows

In [ ]:
df.select(F.col('data')).printSchema()

root
 |-- data: timestamp (nullable = true)

In [ ]:
#2) date_format()
df2 = df.select(F.col('data'), F.date_format(F.col('data'), 'dd/MM/yyyy'))

In [ ]:
df2 = df2.withColumnRenamed('date_format(data, dd/MM/yyyy)', 'data_formatada')

In [ ]:
df2.printSchema()

root
 |-- data: timestamp (nullable = true)
 |-- date_format(data, dd/MM/yyyy): string (nullable = true)

In [ ]:
#3) F.to_date() - Converte uma string para o formato date yyyy-MM-dd
df2.withColumn('data_formatada2', F.to_date(F.col('data_formatada'), 'dd/MM/yyyy')).show()

+-------------------+--------------+---------------+
|               data|data_formatada|data_formatada2|
+-------------------+--------------+---------------+
|2020-01-30 00:00:00|    30/01/2020|     2020-01-30|
|2020-01-31 00:00:00|    31/01/2020|     2020-01-31|
|2020-02-01 00:00:00|    01/02/2020|     2020-02-01|
|2020-02-02 00:00:00|    02/02/2020|     2020-02-02|
|2020-02-03 00:00:00|    03/02/2020|     2020-02-03|
|2020-02-04 00:00:00|    04/02/2020|     2020-02-04|
|2020-02-05 00:00:00|    05/02/2020|     2020-02-05|
|2020-02-06 00:00:00|    06/02/2020|     2020-02-06|
|2020-02-07 00:00:00|    07/02/2020|     2020-02-07|
|2020-02-08 00:00:00|    08/02/2020|     2020-02-08|
|2020-02-09 00:00:00|    09/02/2020|     2020-02-09|
|2020-02-10 00:00:00|    10/02/2020|     2020-02-10|
|2020-02-11 00:00:00|    11/02/2020|     2020-02-11|
|2020-02-12 00:00:00|    12/02/2020|     2020-02-12|
|2020-02-13 00:00:00|    13/02/2020|     2020-02-13|
|2020-02-14 00:00:00|    14/02/2020|     2020-02-14|
|2020-02-15 00:00:00|    15/02/2020|     2020-02-15|
|2020-02-16 00:00:00|    16/02/2020|     2020-02-16|
|2020-02-17 00:00:00|    17/02/2020|     2020-02-17|
|2020-02-18 00:00:00|    18/02/2020|     2020-02-18|
+-------------------+--------------+---------------+
only showing top 20 rows

In [ ]:
#4) DATEDIFF() - Retorna a diferença em dias entre duas datas
df.select(F.col('data'), F.current_timestamp(), F.datediff(F.current_timestamp(), F.col('data'))).show()

In [ ]:
#4) MONTHSBETWEEN() - Retorna a diferença em meses entre duas datas
df.select(F.col('data'), F.current_date(), F.round(F.months_between(F.current_date(), F.col('data')), 2)).show()

#MOSTRAR APENAS DUAS CASAS DECIMAIS
#F.round(coluna, qtd_casas)

+-------------------+--------------+----------------------------------------------------+
|               data|current_date()|round(months_between(current_date(), data, true), 2)|
+-------------------+--------------+----------------------------------------------------+
|2020-01-30 00:00:00|    2023-04-11|                                               38.39|
|2020-01-31 00:00:00|    2023-04-11|                                               38.35|
|2020-02-01 00:00:00|    2023-04-11|                                               38.32|
|2020-02-02 00:00:00|    2023-04-11|                                               38.29|
|2020-02-03 00:00:00|    2023-04-11|                                               38.26|
|2020-02-04 00:00:00|    2023-04-11|                                               38.23|
|2020-02-05 00:00:00|    2023-04-11|                                               38.19|
|2020-02-06 00:00:00|    2023-04-11|                                               38.16|
|2020-02-07 00:00:00|    2023-04-11|                                               38.13|
|2020-02-08 00:00:00|    2023-04-11|                                                38.1|
|2020-02-09 00:00:00|    2023-04-11|                                               38.06|
|2020-02-10 00:00:00|    2023-04-11|                                               38.03|
|2020-02-11 00:00:00|    2023-04-11|                                                38.0|
|2020-02-12 00:00:00|    2023-04-11|                                               37.97|
|2020-02-13 00:00:00|    2023-04-11|                                               37.94|
|2020-02-14 00:00:00|    2023-04-11|                                                37.9|
|2020-02-15 00:00:00|    2023-04-11|                                               37.87|
|2020-02-16 00:00:00|    2023-04-11|                                               37.84|
|2020-02-17 00:00:00|    2023-04-11|                                               37.81|
|2020-02-18 00:00:00|    2023-04-11|                                               37.77|
+-------------------+--------------+----------------------------------------------------+
only showing top 20 rows

In [ ]:
#F.year(), F.month(), F.next_day(), F.weekofyear()

df.select(F.col('data'), F.year(F.col('data')).alias('Ano'), F.month(F.col('data'))).show()

+-------------------+----+-----------+
|               data| Ano|month(data)|
+-------------------+----+-----------+
|2020-01-30 00:00:00|2020|          1|
|2020-01-31 00:00:00|2020|          1|
|2020-02-01 00:00:00|2020|          2|
|2020-02-02 00:00:00|2020|          2|
|2020-02-03 00:00:00|2020|          2|
|2020-02-04 00:00:00|2020|          2|
|2020-02-05 00:00:00|2020|          2|
|2020-02-06 00:00:00|2020|          2|
|2020-02-07 00:00:00|2020|          2|
|2020-02-08 00:00:00|2020|          2|
|2020-02-09 00:00:00|2020|          2|
|2020-02-10 00:00:00|2020|          2|
|2020-02-11 00:00:00|2020|          2|
|2020-02-12 00:00:00|2020|          2|
|2020-02-13 00:00:00|2020|          2|
|2020-02-14 00:00:00|2020|          2|
|2020-02-15 00:00:00|2020|          2|
|2020-02-16 00:00:00|2020|          2|
|2020-02-17 00:00:00|2020|          2|
|2020-02-18 00:00:00|2020|          2|
+-------------------+----+-----------+
only showing top 20 rows

In [ ]:
#DIFERENÇA ENTRE DUAS DATAS DO DATASET COVID
df.agg(F.datediff(F.max(F.col('data')), F.min(F.col('data')))).show()

+------------------------------+
|datediff(max(data), min(data))|
+------------------------------+
|                            86|
+------------------------------+

In [ ]:
#JOINS - inner, left, right, full
schema = ['id', 'nome', 'salario']

dados = [
         (1, 'João', 2000), 
         (2, 'Maria', 5000),
         (3, 'Pedro', 8300),
         (4, 'Gustavo', 1200),
         (5, 'Ana', 10000),
         (6, 'Vitoria', 7500),
         (7, 'Carlos', 4800),
         (8, 'Claudia', 4300),
         (9, 'Andre', 2400),
]

df1 = spark.createDataFrame(data=dados, schema=schema)

In [ ]:
schema = ['id', 'cidade', 'estado']

dados = [
         (1, 'São Paulo', 'SP'),
         (2, 'Curitiba', 'PR'),
         (3, 'Fortaleza', 'CE'),
         (4, 'Ribeirão Preto', 'SP'),
         (8, 'Belo Horizonte', 'MG'),
         (9, 'Goiania', 'GO'),
         (10, 'Sobral', 'CE'),
         (11, 'Salvador', 'BA'),
         (12, 'São Luis', 'MA'),
]

df2 = spark.createDataFrame(data=dados, schema=schema)

In [ ]:
df_pandas = df.toPandas()

In [ ]:
df_pandas.head()

,regiao,estado,data,casosNovos,casosAcumulados,obitosNovos,obitosAcumulados
0,Norte,RO,2020-01-30,0,0,0,0
1,Norte,RO,2020-01-31,0,0,0,0
2,Norte,RO,2020-02-01,0,0,0,0
3,Norte,RO,2020-02-02,0,0,0,0
4,Norte,RO,2020-02-03,0,0,0,0

In [ ]:
#CONVERTER DATAFRAME DO PANDAS PARA UM DATAFRAME DO SPARK
df_spark = spark.createDataFrame(df_pandas)

In [ ]:
df1.show()
df2.show()

+---+-------+-------+
| id|   nome|salario|
+---+-------+-------+
|  1|   João|   2000|
|  2|  Maria|   5000|
|  3|  Pedro|   8300|
|  4|Gustavo|   1200|
|  5|    Ana|  10000|
|  6|Vitoria|   7500|
|  7| Carlos|   4800|
|  8|Claudia|   4300|
|  9|  Andre|   2400|
+---+-------+-------+

+---+--------------+------+
| id|        cidade|estado|
+---+--------------+------+
|  1|     São Paulo|    SP|
|  2|      Curitiba|    PR|
|  3|     Fortaleza|    CE|
|  4|Ribeirão Preto|    SP|
|  8|Belo Horizonte|    MG|
|  9|       Goiania|    GO|
| 10|        Sobral|    CE|
| 11|      Salvador|    BA|
| 12|      São Luis|    MA|
+---+--------------+------+

In [ ]:
#INNER JOIN 
df_inner = df1.join(df2, on=['id'], how='inner')

df_inner.show()

+---+-------+-------+--------------+------+
| id|   nome|salario|        cidade|estado|
+---+-------+-------+--------------+------+
|  1|   João|   2000|     São Paulo|    SP|
|  2|  Maria|   5000|      Curitiba|    PR|
|  3|  Pedro|   8300|     Fortaleza|    CE|
|  4|Gustavo|   1200|Ribeirão Preto|    SP|
|  8|Claudia|   4300|Belo Horizonte|    MG|
|  9|  Andre|   2400|       Goiania|    GO|
+---+-------+-------+--------------+------+

In [ ]:
#LEFT JOIN
df_left = df1.join(df2, on=['id'], how='left')

df_left.show()

+---+-------+-------+--------------+------+
| id|   nome|salario|        cidade|estado|
+---+-------+-------+--------------+------+
|  1|   João|   2000|     São Paulo|    SP|
|  3|  Pedro|   8300|     Fortaleza|    CE|
|  2|  Maria|   5000|      Curitiba|    PR|
|  4|Gustavo|   1200|Ribeirão Preto|    SP|
|  7| Carlos|   4800|          null|  null|
|  6|Vitoria|   7500|          null|  null|
|  9|  Andre|   2400|       Goiania|    GO|
|  5|    Ana|  10000|          null|  null|
|  8|Claudia|   4300|Belo Horizonte|    MG|
+---+-------+-------+--------------+------+

In [ ]:
df1.join(df2, on=['id'], how='left').show()

+---+-------+-------+--------------+------+
| id|   nome|salario|        cidade|estado|
+---+-------+-------+--------------+------+
|  1|   João|   2000|     São Paulo|    SP|
|  3|  Pedro|   8300|     Fortaleza|    CE|
|  2|  Maria|   5000|      Curitiba|    PR|
|  4|Gustavo|   1200|Ribeirão Preto|    SP|
|  7| Carlos|   4800|          null|  null|
|  6|Vitoria|   7500|          null|  null|
|  9|  Andre|   2400|       Goiania|    GO|
|  5|    Ana|  10000|          null|  null|
|  8|Claudia|   4300|Belo Horizonte|    MG|
+---+-------+-------+--------------+------+

In [ ]:
#RIGHT
df_right = df1.join(df2, on=['id'], how='right')

df_right.show()

+---+-------+-------+--------------+------+
| id|   nome|salario|        cidade|estado|
+---+-------+-------+--------------+------+
|  1|   João|   2000|     São Paulo|    SP|
|  3|  Pedro|   8300|     Fortaleza|    CE|
|  2|  Maria|   5000|      Curitiba|    PR|
|  4|Gustavo|   1200|Ribeirão Preto|    SP|
|  9|  Andre|   2400|       Goiania|    GO|
| 10|   null|   null|        Sobral|    CE|
| 12|   null|   null|      São Luis|    MA|
|  8|Claudia|   4300|Belo Horizonte|    MG|
| 11|   null|   null|      Salvador|    BA|
+---+-------+-------+--------------+------+

In [ ]:
#FULL JOIN
df_full = df1.join(df2, on=['id'], how='full')

df_full.show()

+---+-------+-------+--------------+------+
| id|   nome|salario|        cidade|estado|
+---+-------+-------+--------------+------+
|  1|   João|   2000|     São Paulo|    SP|
|  2|  Maria|   5000|      Curitiba|    PR|
|  3|  Pedro|   8300|     Fortaleza|    CE|
|  4|Gustavo|   1200|Ribeirão Preto|    SP|
|  5|    Ana|  10000|          null|  null|
|  6|Vitoria|   7500|          null|  null|
|  7| Carlos|   4800|          null|  null|
|  8|Claudia|   4300|Belo Horizonte|    MG|
|  9|  Andre|   2400|       Goiania|    GO|
| 10|   null|   null|        Sobral|    CE|
| 11|   null|   null|      Salvador|    BA|
| 12|   null|   null|      São Luis|    MA|
+---+-------+-------+--------------+------+

In [ ]:
#ALTERANDO VALORES NULOS NO DATAFRAME COMPLETO
df_full.fillna('teste').show()
df_full.fillna(-1).show()

+---+-------+-------+--------------+------+
| id|   nome|salario|        cidade|estado|
+---+-------+-------+--------------+------+
|  1|   João|   2000|     São Paulo|    SP|
|  2|  Maria|   5000|      Curitiba|    PR|
|  3|  Pedro|   8300|     Fortaleza|    CE|
|  4|Gustavo|   1200|Ribeirão Preto|    SP|
|  5|    Ana|  10000|          null|  null|
|  6|Vitoria|   7500|          null|  null|
|  7| Carlos|   4800|          null|  null|
|  8|Claudia|   4300|Belo Horizonte|    MG|
|  9|  Andre|   2400|       Goiania|    GO|
| 10|   null|      0|        Sobral|    CE|
| 11|   null|      0|      Salvador|    BA|
| 12|   null|      0|      São Luis|    MA|
+---+-------+-------+--------------+------+

In [ ]:
#ALTERANDO VALORES NULOS EM UMA COLUNA ESPECÍFICA
df_full.fillna(0, subset='salario').show()
df_full.fillna('teste', subset=('nome', 'estado')).show()

+---+-------+-------+--------------+------+
| id|   nome|salario|        cidade|estado|
+---+-------+-------+--------------+------+
|  1|   João|   2000|     São Paulo|    SP|
|  2|  Maria|   5000|      Curitiba|    PR|
|  3|  Pedro|   8300|     Fortaleza|    CE|
|  4|Gustavo|   1200|Ribeirão Preto|    SP|
|  5|    Ana|  10000|          null| teste|
|  6|Vitoria|   7500|          null| teste|
|  7| Carlos|   4800|          null| teste|
|  8|Claudia|   4300|Belo Horizonte|    MG|
|  9|  Andre|   2400|       Goiania|    GO|
| 10|  teste|   null|        Sobral|    CE|
| 11|  teste|   null|      Salvador|    BA|
| 12|  teste|   null|      São Luis|    MA|
+---+-------+-------+--------------+------+

In [ ]:
#Exportando os dados
df.write.format('csv').save('/content/drive/MyDrive/SOULCODE/dados_covid_final')

In [ ]:
df2.show()

+-------------------+-----------------------------+
|               data|date_format(data, dd/MM/yyyy)|
+-------------------+-----------------------------+
|2020-01-30 00:00:00|                   30/01/2020|
|2020-01-31 00:00:00|                   31/01/2020|
|2020-02-01 00:00:00|                   01/02/2020|
|2020-02-02 00:00:00|                   02/02/2020|
|2020-02-03 00:00:00|                   03/02/2020|
|2020-02-04 00:00:00|                   04/02/2020|
|2020-02-05 00:00:00|                   05/02/2020|
|2020-02-06 00:00:00|                   06/02/2020|
|2020-02-07 00:00:00|                   07/02/2020|
|2020-02-08 00:00:00|                   08/02/2020|
|2020-02-09 00:00:00|                   09/02/2020|
|2020-02-10 00:00:00|                   10/02/2020|
|2020-02-11 00:00:00|                   11/02/2020|
|2020-02-12 00:00:00|                   12/02/2020|
|2020-02-13 00:00:00|                   13/02/2020|
|2020-02-14 00:00:00|                   14/02/2020|
|2020-02-15 00:00:00|                   15/02/2020|
|2020-02-16 00:00:00|                   16/02/2020|
|2020-02-17 00:00:00|                   17/02/2020|
|2020-02-18 00:00:00|                   18/02/2020|
+-------------------+-----------------------------+
only showing top 20 rows

In [ ]:
df2 = df2.withColumnRenamed('date_format(data, dd/MM/yyyy)', 'data_formatada')

In [ ]:
#SUBSTRING - PERCORRER UMA STRING E RETORNAR UMA SUBSTRING
df2.withColumn('dia', F.substring(F.col('data_formatada'), 1, 2))\
   .withColumn('mes', F.substring(F.col('data_formatada'), 4, 2))\
   .withColumn('ano', F.substring(F.col('data_formatada'), 7, 4)).show()

+-------------------+--------------+---+---+----+
|               data|data_formatada|dia|mes| ano|
+-------------------+--------------+---+---+----+
|2020-01-30 00:00:00|    30/01/2020| 30| 01|2020|
|2020-01-31 00:00:00|    31/01/2020| 31| 01|2020|
|2020-02-01 00:00:00|    01/02/2020| 01| 02|2020|
|2020-02-02 00:00:00|    02/02/2020| 02| 02|2020|
|2020-02-03 00:00:00|    03/02/2020| 03| 02|2020|
|2020-02-04 00:00:00|    04/02/2020| 04| 02|2020|
|2020-02-05 00:00:00|    05/02/2020| 05| 02|2020|
|2020-02-06 00:00:00|    06/02/2020| 06| 02|2020|
|2020-02-07 00:00:00|    07/02/2020| 07| 02|2020|
|2020-02-08 00:00:00|    08/02/2020| 08| 02|2020|
|2020-02-09 00:00:00|    09/02/2020| 09| 02|2020|
|2020-02-10 00:00:00|    10/02/2020| 10| 02|2020|
|2020-02-11 00:00:00|    11/02/2020| 11| 02|2020|
|2020-02-12 00:00:00|    12/02/2020| 12| 02|2020|
|2020-02-13 00:00:00|    13/02/2020| 13| 02|2020|
|2020-02-14 00:00:00|    14/02/2020| 14| 02|2020|
|2020-02-15 00:00:00|    15/02/2020| 15| 02|2020|
|2020-02-16 00:00:00|    16/02/2020| 16| 02|2020|
|2020-02-17 00:00:00|    17/02/2020| 17| 02|2020|
|2020-02-18 00:00:00|    18/02/2020| 18| 02|2020|
+-------------------+--------------+---+---+----+
only showing top 20 rows

In [ ]:
#split(), concat_ws(), union()

In [ ]:
#STRUCT TYPE e STRUCT FIELD
from pyspark.sql.types import *

In [ ]:
'''
TIPOS BÁSICOS DE DADOS DO SPARK
ByteType() - int
ShortType() - int
IntegerType() - int
LongType() - int
FloatType() - float
DoubleType() - float
StringType() - str
BooleanType - bool
DecimalType() - float
NULL
'''

In [ ]:
'''
TIPOS COMPLEXOS DE DADOS
TimestampType() - datetime
DateType() - datetime
ArrayType() - lista, tupla, array
MapType() - dict
StructType() - lista, tupla
StructField() - Tipo do campo
'''

In [ ]:
df.printSchema()

root
 |-- regiao: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- data: timestamp (nullable = true)
 |-- casosNovos: integer (nullable = true)
 |-- casosAcumulados: integer (nullable = true)
 |-- obitosNovos: integer (nullable = true)
 |-- obitosAcumulados: integer (nullable = true)

In [ ]:
colunas = StructType([
    StructField('Regiao', StringType()),
    StructField('Estado', StringType()),
    StructField('data', TimestampType()),
    StructField('casosNovos', IntegerType()),
    StructField('casosAcumulados', IntegerType()),
    StructField('obitosNovos', LongType()),
    StructField('obitosAcumulados', ShortType())
])

In [ ]:
dados = [(
    
)]

In [ ]:
df = spark.createDataFrame(data = dados, schema = colunas)

WINDOW FUNCTIONS

In [ ]:
schema = ['nome', 'departamento', 'estado', 'salario']

dados = [('Anderson', 'vendas', 'SP', 9000),
         ('Kennedy', 'vendas', 'RJ', 4500),
         ('Luciana', 'vendas', 'SP', 4500),
         ('Marta', 'vendas', 'SP', 4500),
         ('João', 'vendas', 'SP', 4500),
         ('Diego', 'vendas', 'SP', 4500),
         ('Marilia', 'vendas', 'SP', 1200),
         ('Gustavo', 'financeiro', 'AM', 8000),
         ('Pedro', 'financeiro', 'AM', 2750),
         ('Juliana', 'financeiro', 'MG', 3000),
         ('Leticia', 'financeiro', 'RJ', 7500),
         ('Oswaldo', 'marketing', 'RJ', 2450),
         ('Denis', 'marketing', 'MG', 1300)
         
        ]
df = spark.createDataFrame(data = dados, schema = schema)

In [ ]:
df.show()

+--------+------------+------+-------+
|    nome|departamento|estado|salario|
+--------+------------+------+-------+
|Anderson|      vendas|    SP|   9000|
| Kennedy|      vendas|    RJ|   4500|
| Luciana|      vendas|    SP|   4500|
|   Marta|      vendas|    SP|   4500|
|    João|      vendas|    SP|   4500|
|   Diego|      vendas|    SP|   4500|
| Marilia|      vendas|    SP|   1200|
| Gustavo|  financeiro|    AM|   8000|
|   Pedro|  financeiro|    AM|   2750|
| Juliana|  financeiro|    MG|   3000|
| Leticia|  financeiro|    RJ|   7500|
| Oswaldo|   marketing|    RJ|   2450|
|   Denis|   marketing|    MG|   1300|
+--------+------------+------+-------+

In [ ]:
from pyspark.sql.window import Window

In [ ]:
#CRIAR UMA PARTIÇÃO SOBRE O DATAFRAME PARA QUE SEJA POSSÍVEL UTILIZAR ALGUM TIPO DE CLASSIFICAÇÃO
w0 = Window.partitionBy(F.col('departamento')).orderBy(F.col('salario').desc())

In [ ]:
# 1)row_number()
df.withColumn('row_number', F.row_number().over(w0)).orderBy(F.col('departamento').desc().show()

+--------+------------+------+-------+----------+
|    nome|departamento|estado|salario|row_number|
+--------+------------+------+-------+----------+
|Anderson|      vendas|    SP|   9000|         1|
| Marilia|      vendas|    SP|   1200|         7|
|   Marta|      vendas|    SP|   4500|         4|
| Kennedy|      vendas|    RJ|   4500|         2|
|    João|      vendas|    SP|   4500|         5|
|   Diego|      vendas|    SP|   4500|         6|
| Luciana|      vendas|    SP|   4500|         3|
| Oswaldo|   marketing|    RJ|   2450|         1|
|   Denis|   marketing|    MG|   1300|         2|
| Gustavo|  financeiro|    AM|   8000|         1|
| Leticia|  financeiro|    RJ|   7500|         2|
| Juliana|  financeiro|    MG|   3000|         3|
|   Pedro|  financeiro|    AM|   2750|         4|
+--------+------------+------+-------+----------+

In [ ]:
#Rank
df.withColumn('rank', F.rank().over(w0)).show()

+--------+------------+------+-------+----+
|    nome|departamento|estado|salario|rank|
+--------+------------+------+-------+----+
| Gustavo|  financeiro|    AM|   8000|   1|
| Leticia|  financeiro|    RJ|   7500|   2|
| Juliana|  financeiro|    MG|   3000|   3|
|   Pedro|  financeiro|    AM|   2750|   4|
| Oswaldo|   marketing|    RJ|   2450|   1|
|   Denis|   marketing|    MG|   1300|   2|
|Anderson|      vendas|    SP|   9000|   1|
| Kennedy|      vendas|    RJ|   4500|   2|
| Luciana|      vendas|    SP|   4500|   2|
|   Marta|      vendas|    SP|   4500|   2|
|    João|      vendas|    SP|   4500|   2|
|   Diego|      vendas|    SP|   4500|   2|
| Marilia|      vendas|    SP|   1200|   7|
+--------+------------+------+-------+----+

In [ ]:
#Dense_rank
df.withColumn('dense_rank', F.dense_rank().over(w0)).show()

+--------+------------+------+-------+----------+
|    nome|departamento|estado|salario|dense_rank|
+--------+------------+------+-------+----------+
| Gustavo|  financeiro|    AM|   8000|         1|
| Leticia|  financeiro|    RJ|   7500|         2|
| Juliana|  financeiro|    MG|   3000|         3|
|   Pedro|  financeiro|    AM|   2750|         4|
| Oswaldo|   marketing|    RJ|   2450|         1|
|   Denis|   marketing|    MG|   1300|         2|
|Anderson|      vendas|    SP|   9000|         1|
| Kennedy|      vendas|    RJ|   4500|         2|
| Luciana|      vendas|    SP|   4500|         2|
|   Marta|      vendas|    SP|   4500|         2|
|    João|      vendas|    SP|   4500|         2|
|   Diego|      vendas|    SP|   4500|         2|
| Marilia|      vendas|    SP|   1200|         3|
+--------+------------+------+-------+----------+

In [ ]:
#LAG
df.withColumn('lag', F.lag('salario', 1).over(w0)).show()

+--------+------------+------+-------+----+
|    nome|departamento|estado|salario| lag|
+--------+------------+------+-------+----+
| Gustavo|  financeiro|    AM|   8000|null|
| Leticia|  financeiro|    RJ|   7500|8000|
| Juliana|  financeiro|    MG|   3000|7500|
|   Pedro|  financeiro|    AM|   2750|3000|
| Oswaldo|   marketing|    RJ|   2450|null|
|   Denis|   marketing|    MG|   1300|2450|
|Anderson|      vendas|    SP|   9000|null|
| Kennedy|      vendas|    RJ|   4500|9000|
| Luciana|      vendas|    SP|   4500|4500|
|   Marta|      vendas|    SP|   4500|4500|
|    João|      vendas|    SP|   4500|4500|
|   Diego|      vendas|    SP|   4500|4500|
| Marilia|      vendas|    SP|   1200|4500|
+--------+------------+------+-------+----+

In [ ]:
#LEAD
df.withColumn('lead', F.lead('salario', 1).over(w0)).show()

+--------+------------+------+-------+----+
|    nome|departamento|estado|salario|lead|
+--------+------------+------+-------+----+
| Gustavo|  financeiro|    AM|   8000|7500|
| Leticia|  financeiro|    RJ|   7500|3000|
| Juliana|  financeiro|    MG|   3000|2750|
|   Pedro|  financeiro|    AM|   2750|null|
| Oswaldo|   marketing|    RJ|   2450|1300|
|   Denis|   marketing|    MG|   1300|null|
|Anderson|      vendas|    SP|   9000|4500|
| Kennedy|      vendas|    RJ|   4500|4500|
| Luciana|      vendas|    SP|   4500|4500|
|   Marta|      vendas|    SP|   4500|4500|
|    João|      vendas|    SP|   4500|4500|
|   Diego|      vendas|    SP|   4500|1200|
| Marilia|      vendas|    SP|   1200|null|
+--------+------------+------+-------+----+